:host {
  .projects-activity {
    display: flex;
    flex-direction: column;
    gap: 4.625rem;

    height: 100%;
    padding: 2% 4% 5%;

    border: var(--border-xs) solid var(--gray);
    border-radius: var(--border-radius-l);

    &-header {
      font: var(--font-title);
    }

    &-chart {
      display: block;

      width: 100%;
      height: 100%;
    }
  }
}
