:host {
  @import "mixins.scss";
  .photos {
    @include flex(flex-start, flex-start);
    flex-direction: row-reverse;
    margin-right: 1rem;

    &-photo {
      position: relative;
      margin-right: -1rem;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}
