@import "mixins";

:host {
  .photos {
    @include flex(center, flex-start);
    flex-direction: row-reverse;

    margin-right: var(--offset);

    &-over {
      z-index: 2;

      margin-right: calc(var(--offset) * -1);

      font: var(--font-typography);
      font-weight: bold;
      color: var(--primary);
      text-align: right;
    }

    &-photo {
      margin-right: calc(var(--offset) * -1);

      object-fit: cover;
      border-radius: 100%;
    }
  }
}
