<section class="projects-team">
  <h2 class="projects-team-title">project team</h2>
  <ul class="projects-team-list">
    <ng-container *ngIf="projectByRoute">
      <li
        *ngFor="let user of usersGroupByProject[projectByRoute.id]"
        class="projects-team-list-user"
        [class.projects-team-list-user-manager]="user.role === roles.Manager"
      >
        <div class="report-status-container">
          <img
            src="{{ user.photo || defaultPhoto }}"
            class="projects-team-list-user-avatar"
            alt="user photo"
          />
          <app-report-status
            [reportStatus]="getUserStatus(user)"
          ></app-report-status>
        </div>

        <div class="projects-team-list-item-container">
          <p class="projects-team-list-user-name">{{ user.fullName }}</p>
          <p class="projects-team-list-user-role">{{ user.position }}</p>
        </div>
      </li>
    </ng-container>
  </ul>
</section>
