:host {
  @import "vars/variables.scss";
  @import "mixins.scss";
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--offset-l) 0;
    width: 7.5rem;
    height: 100vh;
    max-height: 100vh;
    border-right: $border-sidebar;
    background-color: var(--white);

    &-logo {
      width: 3rem;
      height: 4rem;
    }

    &-list {
      @include flex(center, center);
      flex-direction: column;
      gap: var(--offset-xl);
      width: 100%;

      &-item {
        width: 100%;

        &-link {
          @include flex(center, center);
          flex-direction: column;
          width: 100%;
          box-sizing: content-box;
          color: var(--gray2);

          &:hover {
            border-right: $border-sidebar-active;
            color: var(--primary);
          }
        }

        &-icon {
          color: var(--gray);

          &-active {
            color: var(--primary);
          }

          &:hover {
            color: var(--primary);
          }
        }

        &-label {
          color: var(--gray2);

          &-active {
            color: var(--primary);
          }

          &:hover {
            text-decoration: underline 0.125rem var(--primary);
            text-underline-offset: 0.1rem;
          }
        }

        &-active {
          border-right: $border-sidebar-active;

          &-profile {
            outline: $border-sidebar-active;
          }
        }
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: var(--offset-s);
      width: 100%;
    }

    &-profile {
      @include profile-photo(4rem, 4rem);
      cursor: pointer;

      &:hover {
        outline: 0.15rem solid var(--primary);
      }

      &-active {
        outline: $border-sidebar-active !important;
      }
    }
  }

  .cursor {
    cursor: pointer;
  }

  @media only screen and (max-height: 768px) {
    * {
      font-size: 0.8rem;
    }

    .sidebar-list {
      gap: var(--offset-m);
    }
  }
}
