@import "vars/variables";
@import "mixins";

:host {
  .sidebar {
    @include flex(center, space-between);

    position: fixed;

    flex-direction: column;

    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    height: 100vh;
    max-height: 100vh;
    padding: var(--offset-l) 0;

    background-color: var(--white);
    border-right: $border-sidebar;

    &-logo {
      width: 3rem;
      height: 4rem;
    }

    &-list {
      @include flex(center, center);
      flex-direction: column;
      gap: var(--offset-l);

      width: 100%;

      &-item {
        width: 100%;

        &-icon {
          color: var(--gray);
        }

        &-label {
          text-align: center;
        }

        &-active {
          color: var(--primary);

          border-right: $border-sidebar-active;

          &-profile {
            outline: $border-sidebar-active;
          }
        }

        &-active .sidebar-list-item-icon,
        &-active .sidebar-list-item-label {
          color: var(--primary);
        }

        &-link {
          @include flex(center, center);
          flex-direction: column;

          box-sizing: content-box;
          width: 100%;

          color: var(--gray2);

          &:hover {
            color: var(--primary);

            border-right: $border-sidebar-active;
          }

          &:hover .sidebar-list-item-icon {
            color: var(--primary);
          }
        }
      }
    }

    &-container {
      @include flex(flex-start, flex-start, var(--offset-s));
      flex-direction: column;

      width: 100%;
    }

    &-profile {
      @include profile-photo(4rem, 4rem);
      cursor: pointer;

      &:hover {
        outline: 0.15rem solid var(--primary);
      }

      &-active {
        outline: $border-sidebar-active !important;
      }
    }
  }

  .icon-pineapple {
    width: 3rem;
    height: 3rem;
    margin-bottom: var(--offset-xs);

    background-image: url("../../../../assets/icons/pineapple.svg");
    background-repeat: no-repeat;
    background-size: cover;

    &-active {
      filter: invert(50%) sepia(60%) saturate(7066%) hue-rotate(239deg)
        brightness(88%) contrast(83%);
    }

    &:focus,
    &:hover {
      filter: invert(50%) sepia(60%) saturate(7066%) hue-rotate(239deg)
        brightness(88%) contrast(83%);
    }
  }

  .cursor {
    cursor: pointer;
  }

  @media only screen and (max-height: 768px) {
    * {
      font-size: 0.8rem;
    }

    .sidebar-list {
      gap: var(--offset-m);
    }
  }
}
