<nav class="sidebar">
  <img
    class="sidebar-logo"
    [class.cursor]="!router.url.includes('dashboard')"
    src="assets/img/sidebar/DatamolaLogo.svg"
    [routerLink]="!router.url.includes('dashboard') ? ['dashboard'] : []"
    alt="Datamola"
  />
  <ul class="sidebar-list">
    <li class="sidebar-list-item" *ngFor="let item of navItems">
      <a
        class="sidebar-list-item-link"
        routerLinkActive="sidebar-list-item-active"
        [routerLink]="[item.routeLink]"
      >
        <ic-icon
          class="sidebar-list-item-icon"
          width="3rem"
          height="3rem"
          [icon]="item.icon"
          *ngIf="item.routeLink !== routes.Vacations"
        ></ic-icon>
        <span
          *ngIf="item.routeLink === routes.Vacations"
          routerLinkActive="icon-pineapple-active"
          class="sidebar-list-item-icon icon-pineapple"
        ></span>
        <span class="sidebar-list-item-label">
          {{ item.label }}
        </span>
      </a>
    </li>
  </ul>

  <img
    class="sidebar-profile"
    routerLinkActive="sidebar-profile-active"
    [routerLink]="[routes.Profile]"
    src="{{ photo || defaultPhoto }}"
    alt="photo"
  />
</nav>
