<header class="report-constructor-header">
  <div class="report-constructor-header-title">Report constructor</div>
  <div class="report-constructor-header-buttons">
    <div class="report-constructor-header-switcher-period">
      <app-toggle-buttons
        class="choose-period-buttons"
        [labels]="labels"
        [checked]="periodType"
        (changeMode)="changePeriod($event)"
      ></app-toggle-buttons>
    </div>
    <app-button
      class="report-constructor-header-buttons-item"
      buttonClass="button-secondary"
      label="Complete"
      [icon]="checksIcon"
      iconWidth="1.5rem"
      iconHeight="1.5rem"
    ></app-button>
    <app-button
      class="report-constructor-header-buttons-item"
      buttonClass="button-primary"
      label="Export to excel"
      [icon]="fileXlsIcon"
      iconWidth="1.5rem"
      iconHeight="1.5rem"
    ></app-button>
  </div>
</header>
<div>Projects</div>
<div class="report-constructor-navigation">
  <div class="container">
    <div class="report-constructor-navigation-select">
      <app-select
        [options]="selectProjectOptions"
        [selectedValue]="currentProjectId"
        (getSelectedValue)="getSelectedValue($event)"
      ></app-select>
    </div>
    <div class="report-constructor-navigation-date-switch">
      <app-date-switch
        *ngIf="
          periodType === TypePeriod.Week || periodType === TypePeriod.Month
        "
        [date]="period.end"
        [period]="periodType"
        (getFirstandLastDay)="getFirstandLastDay($event)"
      ></app-date-switch>
      <app-datepicker
        *ngIf="periodType === 'custom'"
        (getFirstandLastDay)="getFirstandLastDay($event)"
      ></app-datepicker>
    </div>
  </div>
  <div class="container">
    <app-button
      class="report-constructor-header-switcher-period-item"
      buttonClass="button-primary button-xs button-right-border-straight"
      [icon]="templateIcon"
      iconWidth="1.5rem"
      iconHeight="1.5rem"
    ></app-button>
    <app-button
      class="report-constructor-header-switcher-period-item"
      buttonClass="button-primary button-xs button-left-border-straight period-switcher"
      [icon]="chartBarIcon"
      iconWidth="1.5rem"
      iconHeight="1.5rem"
    ></app-button>
  </div>
</div>
<div class="report-constructor-table">
  <app-report-constructor-table
    [infoFromTaskTracks]="infoFromTaskTracks"
  ></app-report-constructor-table>
</div>
<div class="report-constructor-team">
  <app-users-photos
    classPhoto="photos-normal"
    [users]="teamProjectPhoto"
    size="3"
  ></app-users-photos>
</div>
