<div class="team">
  <div class="team-list">
    <app-team-list-search-container></app-team-list-search-container>
  </div>
  <div class="team-right">
    <app-visit-card-container
      [user]="pickedUser"
      [adminMode]="true"
    ></app-visit-card-container>
    <div class="team-right-bottom">
      <section class="team-right-bottom-projects">
        <h2 class="team-right-bottom-projects-text">
          Activity on projects last month
        </h2>
        <app-users-projects-component
          [usersByProject]="usersByProject"
          [projectsByUsers]="projectsByUsers"
          [pickedUser]="pickedUser"
          [trackedTimeByProjects]="trackedTimeByProjects"
        ></app-users-projects-component>
      </section>
      <app-vacations-component
        *ngIf="vacationsAndHoliday.length"
        [vacations]="vacationsAndHoliday"
      ></app-vacations-component>
    </div>
  </div>
</div>
