<div class="team">
  <div class="team-list">
    <app-team-list-search-container></app-team-list-search-container>
  </div>
  <div class="team-right">
    <app-visit-card-container
      [user]="pickedUser"
      [adminMode]="true"
    ></app-visit-card-container>
    <div class="team-right-bottom">
      <app-users-projects-component
        [usersByProject]="usersByProject"
        [projectsByUsers]="projectsByUsers"
        [pickedUser]="pickedUser"
        [trackedTimeByProjects]="trackedTimeByProjects"
      ></app-users-projects-component>
      <app-vacations-component
        *ngIf="vacationsAndHoliday"
        [vacations]="vacationsAndHoliday"
      ></app-vacations-component>
    </div>
  </div>
</div>
