<div class="todayview">
  <div class="top-area">
    <div
      class="bubble-full"
      [class.bubble]="totalDuration <= maximumNumberOfHoursInADay"
    >
      {{ totalDuration }}h
    </div>
    <div class="top-buttons">
      <button
        class="repeat-button"
        *ngIf="taskItemsAreEmpty; else notEmpty"
        (click)="repeatThePreviousDay()"
      >
        Repeat the previous day
      </button>
      <ng-template #notEmpty>
        <button class="repeat-button" (click)="repeatToCurrentDay()">
          Repeat to current day
        </button>
      </ng-template>
    </div>
  </div>
  <div class="bottom-area">
    <div class="flask">
      <div
        class="liquid-full"
        [class.liquid]="totalDuration <= maximumNumberOfHoursInADay"
        [style.height.%]="totalDurationPercent"
      >
        <div class="bubbles bubble-1"></div>
        <div class="bubbles bubble-2"></div>
        <div class="bubbles bubble-3"></div>
        <div class="bubbles bubble-4"></div>
      </div>
    </div>
    <div class="tasks">
      <app-task
        *ngFor="let taskItem of taskItems"
        [taskItem]="taskItem"
        (edit)="editTaskTrack($event)"
        (delete)="deleteTaskTrack.emit($event)"
      ></app-task>
    </div>
  </div>
</div>
