:host {
  @import "mixins.scss";
  @import "vars/variables";
  .button {
    @include flex(center, center, var(--offset));
    padding: 0 var(--offset);
    height: 3rem;
    outline: none;
    border: none;
    border-radius: var(--border-radius-m);
    font: var(--font-buttonMiddle);
    color: var(--white);
    cursor: pointer;
    &-primary {
      background-color: var(--primary);
      &:hover {
        background-color: var(--primary-hover);
      }
      &:disabled {
        background-color: var(--primary-disabled);
      }
    }
    &-secondary {
      border: $border-button;
      background-color: var(--white);
      color: var(--primary);

      &:hover {
        border-color: var(--primary-hover);
        color: var(--primary-hover);
      }
      &:disabled {
        border-color: var(--primary-disabled);
        color: var(--primary-disabled);
      }
    }

    &-m {
      padding: 0 3rem;
    }

    &-s {
      padding: 0 0.75rem;
    }

    &-xs {
      padding: 0 0.5rem;
      height: 2.5rem;
    }

    &-icon {
      @include flex(flex-start, flex-start);
    }
    &-authorization {
      margin: var(--offset) 0;
      width: 100%;
      text-transform: uppercase;
    }
    &-navigation-icon {
      height: 2.25rem;
      width: 2.25rem;
      border-radius: var(--border-radius);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .task-status {
    padding: 0 0.5rem;

    height: 2rem;

    @include flex(center, center);

    border: none;
    border-radius: var(--border-radius-l);

    font-size: var(--font-main);
    color: var(--primary);

    cursor: pointer;

    user-select: none;

    &:hover {
      background-color: var(--gray4);
    }

    &-icon {
      display: none;
    }

    &-checked {
      color: var(--white);
      background-color: var(--primary);

      &:hover {
        background-color: var(--primary-hover);
      }
    }

    &:disabled {
      opacity: 0.75;
    }
  }

  .task-status-checked .task-status-icon {
    display: flex;
    margin-right: 0.25rem;
    color: var(--white);
  }

  .icon {
    display: flex;
  }
}
