:host {
  @import "mixins.scss";
  .task-wrappeer {
    display: grid;
    grid-template-columns: 10rem 28rem 8.2rem 1fr 2rem;
    grid-gap: var(--offset);
    max-width: 59rem;
    padding: var(--offset-d) var(--offset);
    margin-bottom: var(--offset);
    border: var(--offset-xxs) solid var(--gray);
    border-radius: var(--offset-s);

    .project-name-wrapper {
      @include flex(center, flex-start, 1.25rem);
    }

    .project-name {
      display:inline-block;
      padding: 0 var(--offset-b);
      max-width: 10rem;
      object-fit: contain;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border: 0.2rem solid var(--rose) ;
      border-radius: var(--offset-m);
      font: var(--font-calendar);
    }

    .task-name {
      transform: translateY(var(--offset-xs));
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font: var(--font-calendar);
    }

    .task-status {
      position: relative;
      @include flex(center, space-evenly);
      max-height: var(--offset-ml);
      border: var(--border-xxs) solid var(--primary);
      border-radius: var(--offset-m);
      color: var(--primary);
      font: var(--font-buttonSmall);
    }

    .hidden {
      opacity: 0;
    }

    app-users-photos {
      position: relative;
      transform: translateY(var(--border-m));
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .button-add-to-report {
      transform: translateY(0.2rem);
    }
  }
}
