<article class="task-wrappeer">
  <div>
    <p class="project-name" [ngStyle]="{ 'border-color': task.projectColor }">
      {{ task.projectName }}
    </p>
  </div>
  <p class="task-name">{{ task.taskName }}</p>
  <div class="task-status">
    <img src="assets/img/activity/tick.svg" class="tick-img" />
    <p>{{ task.status }}</p>
  </div>
  <app-users-photos
    *ngIf="task.usersPhotos"
    [users]="task.usersPhotos"
    size="2"
  ></app-users-photos>
  <button class="add-active-task-to-report">press</button>
</article>
