<article class="task-wrappeer">
  <div class="project-name-wrapper">
    <p class="project-name" [style.border-color]="task.projectColor">
      {{ task.projectName }}
    </p>
  </div>
  <p class="task-name">{{ task.taskName }}</p>
  <div [ngClass]="{ 'task-status': task.status }">
    <img src="assets/img/activity/tick.svg" [ngClass]="{ 'hidden': task.status === '' }"  alt="undefined" />
    <p>{{ task.status }}</p>
  </div>
  <app-users-photos
    *ngIf="task.usersPhotos"
    [users]="task.usersPhotos"
    size="2"
  ></app-users-photos>
  <app-button
    class="form-report-footer-voice"
    [buttonClass]="'button-primary button-xs'"
    type="button"
    [icon]="clipButton"
    iconWidth="1.5rem"
    iconHeight="1.5rem"
  ></app-button>
</article>
