<table class="report-constructor-table">
  <thead class="report-constructor-table-head">
    <tr>
      <th class="report-constructor-table-head-item">Deliverables</th>
      <th class="report-constructor-table-head-item">
        <div class="flex-container">
          <span class="report-constructor-table-head-item-text">Resource</span>
          <ic-icon
            class="report-constructor-table-head-item-icon"
            [icon]="sortDescendingIcon"
            width="1.5rem"
            height="1.5rem"
          ></ic-icon>
        </div>
      </th>
      <th class="report-constructor-table-head-item">
        <div class="flex-container">
          <span class="report-constructor-table-head-item-text"
            >Hours spend</span
          >
          <ic-icon
            class="report-constructor-table-head-item-icon"
            [icon]="sortDescendingIcon"
            width="1.5rem"
            height="1.5rem"
          ></ic-icon>
        </div>
      </th>
      <th class="report-constructor-table-head-item">
        <div class="flex-container">
          <span class="report-constructor-table-head-item-text"
            >Percentage</span
          >
          <ic-icon
            class="report-constructor-table-head-item-icon"
            [icon]="sortDescendingIcon"
            width="1.5rem"
            height="1.5rem"
          ></ic-icon>
        </div>
      </th>
      <th class="report-constructor-table-head-item">Team, %</th>
    </tr>
  </thead>
  <tbody class="report-constructor-table-body">
    <tr>
      <td class="report-constructor-table-body-item">
        <div class="flex-container">Create Dashboard</div>
      </td>
      <td class="report-constructor-table-body-item">
        <div class="flex-container">DWH developer</div>
      </td>
      <td class="report-constructor-table-body-item">
        <div class="flex-container">8</div>
      </td>
      <td class="report-constructor-table-body-item">
        <div class="flex-container">12%</div>
      </td>
      <td class="report-constructor-table-body-item">
        <div class="flex-container">Martin Mango, 100%</div>
      </td>
    </tr>
  </tbody>
</table>
