@import "mixins";
@import "vars/variables";

:host {
  .report-constructor-table {
    border-collapse: collapse;

    width: 100%;
    max-width: 100%;

    border: $border-report-constructor-table;
    border-radius: var(--border-radius);

    &-head {
      height: 4.75rem;

      font: var(--font-blocks);

      background-color: var(--blue2);

      &-item {
        width: calc(100% / 6);
        max-width: calc(100% / 6);
        height: 3rem;

        &-text {
          margin-right: var(--offset);

          text-transform: capitalize;
        }

        &-icon {
          padding-top: var(--offset-xs);
        }
      }
    }

    &-body {
      height: 3rem;

      &-item {
        padding: var(--offset) 0;

        font: var(--font-current);
        text-align: center;

        &:first-child {
          padding-left: var(--offset-s);

          text-align: left;
        }

        &-text {
          font: var(--font-current);
        }

        &-project {
          @include flex(center, center, var(--offset));
          flex-wrap: wrap;
        }
      }

      &-overtime {
        @include flex(center, center);

        &-duration {
          margin-right: var(--offset-s);
          padding: auto 0;

          font: var(--font-blocks);
          color: var(--orange);
        }
      }

      &-percentage {
        @include flex(center, center);
        position: relative;

        height: 3rem;

        &-duration {
          position: absolute;
          z-index: 2;
        }

        &-bar {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;

          height: 100%;

          background-color: var(--blue2);
          border-radius: var(--border-radius);
        }
      }
    }

    &-footer {
      height: 3rem;
      background-color: var(--pale-blue);

      &-item {
        padding: var(--offset) 0;
        font: var(--font-typography);
        text-align: center;

        &:first-child {
          padding-left: var(--offset-s);
          text-align: left;
          text-transform: uppercase;
        }
      }
    }
  }

  .flex-container {
    @include flex(center, center);

    cursor: pointer;

    &:hover .report-constructor-table-head-item-text {
      transform: scale(1.05);
    }

    &:hover .report-constructor-table-head-item-icon {
      transform: scale(1.1);
    }
  }
}
