<table class="report-constructor-table">
  <thead class="report-constructor-table-head">
    <tr>
      <th
        *ngFor="let tableHeadItem of tableHeadItems"
        class="report-constructor-table-head-item"
      >
        <div
          class="flex-container"
          (click)="
            changeSortOption(
              tableHeadItem.columnName,
              tableHeadItem.columnType,
              tableHeadItem.icon
            )
          "
        >
          <span class="report-constructor-table-head-item-text"
            >{{ tableHeadItem.name }}
          </span>
          <ic-icon
            *ngIf="tableHeadItem.icon"
            class="report-constructor-table-head-item-icon"
            [style.transform]="
              'rotate(' +
              (selectedSort.columnName === tableHeadItem.columnName &&
              selectedSort.ascendingSort
                ? 180
                : 0) +
              'deg)'
            "
            [icon]="sortDescendingIcon"
            width="1.5rem"
            height="1.5rem"
          ></ic-icon>
        </div>
      </th>
    </tr>
  </thead>
  <tbody class="report-constructor-table-body">
    <ng-container *ngIf="infoFromTaskTracksForTable">
      <tr *ngFor="let infoItem of infoFromTaskTracksForTable">
        <td class="report-constructor-table-body-item">
          {{ infoItem.taskName }}
        </td>
        <td class="report-constructor-table-body-item">
          <ng-container *ngFor="let userPosition of infoItem.userPositions">
            <div class="report-constructor-table-body-item-text">
              {{ userPosition }}
            </div>
          </ng-container>
        </td>
        <td class="report-constructor-table-body-item">
          {{ infoItem.taskDuration }}
        </td>
        <td class="report-constructor-table-body-item">
          <div
            *ngIf="infoItem.taskOvertimeDuration > 0"
            class="report-constructor-table-body-overtime"
          >
            <div class="report-constructor-table-body-overtime-duration">
              {{ infoItem.taskOvertimeDuration }}
            </div>
            <div>
              <ic-icon
                class="calendar-overtime-icon"
                [icon]="iconFire"
                width="1.5rem"
                height="1.5rem"
              ></ic-icon>
            </div>
          </div>
        </td>
        <td class="report-constructor-table-body-item">
          <div class="report-constructor-table-body-percentage">
            <div class="report-constructor-table-body-percentage-duration">
              {{ infoItem.taskPercentageWeek }}%
            </div>
            <div
              class="report-constructor-table-body-percentage-bar"
              [style.width.%]="infoItem.taskPercentageWeek"
            ></div>
          </div>
        </td>
        <td class="report-constructor-table-body-item">
          <ng-container *ngFor="let userName of infoItem.userNames">
            <div class="report-constructor-table-body-item-text">
              {{ userName }}
            </div>
          </ng-container>
        </td>
      </tr>
    </ng-container>
  </tbody>

  <tfoot class="report-constructor-table-footer">
    <ng-container *ngIf="+total[2]">
      <tr>
        <td
          *ngFor="let item of total"
          class="report-constructor-table-footer-item"
        >
          {{ item }}
        </td>
      </tr>
    </ng-container>
  </tfoot>
</table>
