<app-header-container class="dashboard-header"></app-header-container>

<container-element class="dashboard-main" [ngSwitch]="dashboardView">
  <app-employee-dashboard
    *ngSwitchCase="types.Employee"
  ></app-employee-dashboard>
  <app-cto-dashboard *ngSwitchCase="types.CTO"></app-cto-dashboard>
  <app-admin-dashboard-container
    *ngSwitchCase="types.Admin"
  ></app-admin-dashboard-container>
  <app-manager-dashboard-container
    *ngSwitchCase="types.Manager"
  ></app-manager-dashboard-container>
</container-element>
