@import "vars/variables";
@import "mixins";

:host {
  @include flex(flex-start, flex-start, var(--offset-l));

  $height-header: 5rem;
  flex-direction: column;
  gap: var(--offset-l);

  height: 100%;

  .dashboard-header {
    width: 100%;
    max-width: 100%;
    height: #{$height-header};
    max-height: #{$height-header};
  }

  .dashboard-main {
    width: 100%;
    max-width: 100%;
    height: calc(100% - #{$height-header});
    max-height: calc(100% - #{$height-header});
  }
}
