<section class="team">
  <header class="team-header">
    <div class="flex-container">
      <h2 class="team-header-title">Team</h2>
      <div class="team-header-item">
        <ic-icon
          class="team-header-item-button"
          class="icon"
          width="2rem"
          height="2rem"
          [icon]="iconAngleRight"
        ></ic-icon>
        <p class="team-header-user">{{ user?.fullName }}</p>
      </div>
    </div>

    <ng-container *ngIf="isAdmin">
      <div class="team-header-buttons">
        <button type="button" class="team-header-buttons-button">
          <ic-icon class="team-header-buttons-item" [icon]="iconBell"></ic-icon>
        </button>
        <button type="button" class="team-header-buttons-button">
          <ic-icon
            class="team-header-buttons-item"
            [icon]="iconFolder"
          ></ic-icon>
        </button>
        <app-button
          (click)="router.navigate([routes.ReportConstructor])"
          class="team-header-buttons-item-file"
          buttonClass="button-primary"
          label="Go to report"
          [icon]="iconFileImport"
          iconHeight="1.5rem"
          iconWidth="1.5rem"
        ></app-button>
      </div>
    </ng-container>
  </header>
  <div class="team-container">
    <container-element [ngSwitch]="userType">
      <app-cto-team *ngSwitchCase="types.CTO"></app-cto-team>
      <app-admin-team-container
        *ngSwitchCase="types.Admin"
      ></app-admin-team-container>
      <app-manager-team-container
        *ngSwitchCase="types.Manager"
      ></app-manager-team-container>
    </container-element>
  </div>
</section>
