<header class="team-header">
  <div class="flex-container">
    <h2 class="team-header-title">Team</h2>
    <div class="team-header-item">
      <ic-icon
        class="team-header-item-button"
        class="icon"
        width="2rem"
        height="2rem"
        [icon]="iconAngleRight"
      ></ic-icon>
      <p class="team-header-user">USER</p>
    </div>
  </div>

  <div class="team-header-buttons">
    <button type="button" class="team-header-buttons-button">
      <ic-icon class="team-header-buttons-item" [icon]="iconFolder"></ic-icon>
    </button>
    <button type="button" class="team-header-buttons-button">
      <ic-icon class="team-header-buttons-item" [icon]="iconBell"></ic-icon>
    </button>
    <app-button
      class="team-header-buttons-item-file"
      buttonClass="button-primary"
      label="Go to report"
      [icon]="iconFileImport"
      iconHeight="1.5rem"
      iconWidth="1.5rem"
    ></app-button>
  </div>
</header>
<container-element [ngSwitch]="userType">
  <app-cto-team *ngSwitchCase="types.CTO"></app-cto-team>
  <app-admin-team *ngSwitchCase="types.Admin"></app-admin-team>
  <app-manager-team-container
    *ngSwitchCase="types.Manager"
  ></app-manager-team-container>
</container-element>
