@import "mixins.scss";
@import "vars/variables";

:host {
  .mat-date-range-input {
    padding: var(--offset-d) 0;
    width: 14.5rem;
    height: 3rem;
    border: $border-input;
    border-radius: var(--border-radius-m);

    font: var(--font-main);
    color: var(--gray2);
    line-height: 1;

    &-separator {
      color: var(--gray2);
    }
  }
}

::ng-deep {
  .mat-date-range-input-container {
    padding-left: var(--offset) !important;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }
  
  .mat-button-focus-overlay {
    background-color: inherit !important;
  }

  .mat-datepicker-toggle-default-icon {
    width: 2rem !important;
  }
}