:host {
  @import "mixins.scss";
  .report-week {
    @include flex(center, space-between, 5rem);
    &-handler {
      @include flex(center, space-between, var(--offset-m));
    }
    &-interval {
      font: var(--font-calendar);
    }
  }

  .icon {
    @include flex(center, center);
  }

  .button-icon {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: var(--border-radius);
  }

  .photos {
    display: flex;
    width: calc((2 * 3rem) - 1rem);
  }
  .photo-manager {
    @include profile-photo(3rem, 3rem);
    position: relative;
    z-index: 3;
    &-second {
      z-index: 2;
      left: -1rem;
    }
  }
}
