@import "vars/variables";
@import "mixins";

::ng-deep {
  .card-right-top-text-icon svg {
    width: 3rem;
    height: 3rem;
  }
}

:host {
  .card {
    display: flex;

    margin-bottom: 1rem;
    padding: var(--offset);

    border: $border-form;
    border-radius: var(--offset-s);

    &:last-of-type {
      margin-bottom: 0;
    }

    &-left {
      @include flex(center, center);
      flex-direction: column;
      flex: 3;
      &-location {
        font: var(--font-card);
        color: var(--gray2);
      }

      &-photo {
        @include profile-photo(5rem, 5rem);
      }
    }

    &-right {
      flex: 7;

      &-top {
        @include flex(center, space-between);

        &-text {
          &-username {
            font: var(--font-calendar);
          }

          &-position {
            margin-bottom: var(--offset-s);

            font: var(--font-card);
            color: var(--gray2);
          }
        }
      }

      &-projects {
        display: flex;
        flex-wrap: wrap;

        &-item {
          margin: var(--offset-s);
        }
      }
    }
  }
}
