<div class="profile">
  <div class="profile-header-content">
    <h1 class="profile-header-title">My profile</h1>
    <app-button
      type="logout"
      [buttonClass]="'button-primary'"
      label="Log out"
      [disabled]="false"
      (buttonClick)="logout($event)"
    >
    </app-button>
  </div>

  <app-visit-card [user]="userInfo"></app-visit-card>

  <section class="profile-all-info">
    <article class="profile-article-instruction">
      <h2 class="profile-instruction-title">
        Instructions for creating a report
      </h2>
      <p class="profile-description">
        Reports give you the ability to present your work activity to managers.
        <br />
        It is better for you to implement your activity daily so that your
        manager can generate a weekly report without you at the end of the week.
        <br />
        You can also create weekly report in TrackMola individually, just
        clicking a button "send report for approval" in the
        <a routerLink="/report">My report.</a>
      </p>
    </article>

    <article class="profile-article-weekends">
      <app-vacations-component
        [vacations]="vacations"
      ></app-vacations-component>
    </article>
  </section>
</div>
