<div class="profile">
  <div class="profile-header-content">
    <h1 class="profile-header-title">My profile</h1>
    <app-button
      type="logout"
      [buttonClass]="'button-primary'"
      label="Log out"
      [disabled]="false"
      (buttonClick)="logout($event)"
    >
    </app-button>
  </div>

  <section class="profile-visit-card">
    <ng-container *ngIf="userInfo">
      <div class="profile-avatar-container">
        <img
          class="profile-avatar"
          src="{{ userInfo.photo || defaultPhoto }}"
        />
      </div>

      <div class="profile-main-infos">
        <div class="profile-info">
          <h2 class="profile-title">Display Name</h2>
          <p class="profile-data">{{ userInfo.fullName }}</p>
        </div>

        <div class="profile-info">
          <h2 class="profile-title">Location</h2>
          <p class="profile-data">{{ userInfo.location }}</p>
        </div>
        <div class="profile-info">
          <h2 class="profile-title">Email</h2>
          <p class="profile-data">{{ userInfo.email }}</p>
        </div>
        <div class="profile-info">
          <h2 class="profile-title">Date of birth</h2>
          <p class="profile-data">
            {{ this.userInfo.birthday.seconds * 1000 | date }}
          </p>
        </div>
        <div class="profile-info">
          <h2 class="profile-title">Start date of work</h2>
          <p class="profile-data">
            {{ this.userInfo.startDate.seconds * 1000 | date }}
          </p>
        </div>
        <div class="profile-info">
          <h2 class="profile-title">Job position</h2>
          <p class="profile-data">{{ userInfo.position }}</p>
        </div>
        <div class="profile-info">
          <h2 class="profile-title">Qualification</h2>
          <p class="profile-data">{{ userInfo.qualification }}</p>
        </div>
      </div>
    </ng-container>
  </section>

  <section class="profile-all-info">
    <article class="profile-article-instruction">
      <h2 class="profile-instruction-title">
        Instructions for creating a report
      </h2>
      <p class="profile-description">
        Reports give you the ability to present your work activity to managers.
        <br />
        It is better for you to implement your activity daily so that your
        manager can generate a weekly report without you at the end of the week.
        <br />
        You can also create weekly report in TrackMola individually, just
        clicking a button "send report for approval" in the
        <a routerLink="/report">My report.</a>
      </p>
    </article>

    <article class="profile-article-weekends">
      <app-vacations-container></app-vacations-container>
    </article>
  </section>
</div>
