@import "vars/variables";
@import "mixins";

:host {
  @include flex(flex-start, flex-start, 3.75rem);
  height: 100%;

  .dashboard-main-tasks {
    @include flex(flex-start, flex-start, 1.625rem);
    flex-direction: column;

    width: 30%;
    height: 100%;

    &-header {
      width: 100%;
    }

    &-list {
      @include flex(flex-start, flex-start, var(--offset-s));

      $width-scroll: var(--offset-s);
      $gap-scroll: calc(var(--offset-l) / 2 - #{$width-scroll} / 2);
      $shadow-y: var(--offset-d);
      $shadow-left: var(--offset-l);
      $shadow-right: var(--offset);
      $shadow-selected: 0 var(--offset-xs) #{$shadow-left} calc(
          var(--offset-xs) * -1
        ) var(--shadow-project-selected);
      scroll-snap-type: y mandatory;

      overflow-y: scroll;
      flex-direction: column;

      width: calc(
        100% + #{$shadow-left} + #{$shadow-right} + #{$width-scroll} * 2 - #{$gap-scroll}
      );
      max-width: calc(
        100% + #{$shadow-left} + #{$shadow-right} + #{$width-scroll} * 2 - #{$gap-scroll}
      );
      margin: calc(#{$shadow-y} * -1) calc(#{$gap-scroll} * -1)
        calc(#{$shadow-y} * -1) calc(#{$shadow-left} * -1);
      padding: #{$shadow-y} #{$gap-scroll} #{$shadow-y} #{$shadow-left};

      &::-webkit-scrollbar {
        width: #{$width-scroll};

        background-color: var(--white);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--gray4);
        border-radius: var(--border-radius-l);
      }

      &-item {
        @include flex(center, flex-start, var(--offset-s));

        cursor: pointer;
        scroll-margin-top: #{$shadow-y};
        scroll-snap-align: start;

        width: 100%;
        padding: var(--offset-s);

        &-selected {
          box-shadow: #{$shadow-selected};
        }

        &-bar {
          width: 0.375rem;
          height: 100%;

          border-radius: 8px;
        }

        &-name {
          width: 100%;

          font: var(--font-typography);
        }

        &-duration {
          font: var(--font-typography);
          font-weight: 700;
        }
      }
    }
  }

  .dashboard-main-chart {
    width: 70%;
  }
}
