$border-radius: 1rem;
$border-radius-l: calc($border-radius * 2);
$sidebar-border-right: 4px solid #dde1f2;
$sidebar-border-right-hover: solid $offset-xs $icon-hover-color;
$sidebar-photo-hover: solid $offset-xs $icon-hover-color;