$primary-color: #4299e1;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$dark-color: black;
$blue: #23325a;
$white: #fff;
$yellow: #f4bf4a;
$gray: #bec3d0;
$icon-color: #dde1f2;
$icon-label-color: #808689;
$icon-hover-color: #7353d0;
