$font-size: 1rem;
$font-size-xs: calc($font-size * 0.5);
$font-size-s: calc($font-size * 0.8);
$font-size-m: calc($font-size * 1.5);
$font-size-l: calc($font-size * 2);
$font-size-xl: calc($font-size * 3);
