@import "vars/variables";
@import "mixins";

:host {
  @include flex(flex-start, flex-start, var(--offset-l));
  $height-charts: 35rem;

  flex-direction: column;

  height: 100%;
  max-height: 100%;

  .dashboard-header {
    @include flex(center, space-between);
    height: 5rem;
    margin-bottom: var(--offset-l);

    &-title {
      font: var(--font-titleBig);
    }

    &-date {
      font: var(--font-title);
    }

    &-time {
      @include flex(flex-start, flex-start, var(--offset-l));
    }

    &-clock {
      padding: var(--offset-xs);

      background-color: var(--blue2);
      border-radius: var(--border-radius);
    }
  }

  .dashboard-main {
    overflow: auto;
    display: flex;
    flex: 3;
    gap: var(--offset-l);

    &-charts {
      @include flex(flex-start, flex-start, var(--offset-l));
      overflow: auto;
      flex: 2;

      app-activity-week-chart-container {
        @include width-variables(34%, 1rem);
        height: 100%;
      }
    }

    &-chart {
      @include flex(flex-start, flex-start, var(--offset-l));
      flex: 2;
    }

    &-todayview {
      @include flex(stretch, flex-start);
      flex: 1;
    }

    &-calendar {
      display: flex;
      flex: 2;
      flex-direction: column;
      gap: var(--offset-l);
    }
  }

  app-calendar-container {
    flex: 1;
  }

  active-tasks-list-container {
    overflow: hidden;
    flex: 2;
  }

  app-todayview-container {
    width: 100%;
    min-width: 30rem;
  }

  app-working-hours-chart-container {
    aspect-ratio: 1 / 1;
  }

  .working-hours {
    @include width-variables(66%, 1rem);
    @include flex(normal, center);
    flex: 1;
    flex-direction: column;

    height: 100%;
    padding-bottom: 2%;

    border: $border-input;
    border-radius: var(--border-radius-l);

    &-title {
      margin: var(--offset);

      font: var(--font-title);
    }

    &-main {
      display: flex;
      flex: 1;
      justify-content: center;

      height: 80%;
      padding: 0 var(--offset-ml);
    }
  }

  ::ng-deep {
    .highcharts-credits {
      display: none;
    }
  }

  @media (max-width: 1110px) {
    .dashboard-main {
      display: block;
      grid-gap: var(--offset-l);

      &-charts {
        display: block;
      }
    }
  }
}
