@import "vars/variables";
@import "mixins";

:host {
  .working-hours {
    width: 32rem;
    height: 28rem;
    padding: var(--offset) var(--offset-l);

    border: $border-input;
    border-radius: var(--border-radius-l);

    &-title {
      margin-bottom: var(--offset);

      font: var(--font-title);
    }

    &-main {
      padding: 0 var(--offset-ml);
    }
  }

  .calendar {
    width: 59rem;
    margin-bottom: var(--offset-m);
  }
}
