@import "mixins";

:host {
  .report-week {
    @include flex(center, space-between, var(--offset-m));

    &-interval {
      width: 16rem;

      font: var(--font-calendar);
      text-align: center;
    }
  }
}
