<div class="report-week">
  <app-button
    [buttonClass]="'button-secondary button-navigation-icon'"
    [icon]="iconArrowNarrowLeft"
    iconWidth="1.5rem"
    iconHeight="1.5rem"
    (buttonClick)="previousWeek($event)"
  ></app-button>
  <span class="report-week-interval">
    Week {{ firstDayOfWeek | date: "dd MMM" }} -
    {{ lastDayOfWeek | date: "dd MMM" }}
  </span>
  <app-users-photos
    *ngIf="managersPhoto.length"
    [photos]="managersPhoto"
    size="3"
  ></app-users-photos>

  <app-button
    [buttonClass]="'button-secondary button-navigation-icon'"
    [icon]="iconArrowNarrowRight"
    iconWidth="1.5rem"
    iconHeight="1.5rem"
    (buttonClick)="nextWeek($event)"
  ></app-button>
</div>
