<div class="report-week">
  <app-button
    [buttonClass]="'button-secondary button-navigation-icon'"
    [icon]="iconArrowNarrowLeft"
    iconWidth="1.5rem"
    iconHeight="1.5rem"
    (buttonClick)="previousWeek.emit()"
  ></app-button>
  <span class="report-week-interval">
    Week {{ firstDay | date: "dd MMM" }} -
    {{ lastDay | date: "dd MMM" }}
  </span>

  <app-button
    [buttonClass]="'button-secondary button-navigation-icon'"
    [icon]="iconArrowNarrowRight"
    iconWidth="1.5rem"
    iconHeight="1.5rem"
    (buttonClick)="nextWeek.emit()"
  ></app-button>
</div>
