:host {
  @import "mixins.scss";
  @import "vars/variables";

  .mat-select {
    margin: 0;
    width: 14.5rem;
    height: 3rem;

    border: $border-input;
      border-radius: var(--border-radius-m);

      font-size: var(--font-main);
      line-height: 1;

      &:hover {
        box-shadow: $border-input-select;
      }
  }
}

::ng-deep {
  .mat-select-trigger {
    height: 100%;
  }

  .mat-select-panel-wrap {
    border-radius: 0 0 var(--offset-d) var(--offset-d) !important;
  }

  .mat-select-panel {
    border-radius: var(--border-radius-l) !important;
  }
}