<section class="dashboard-controls">
  <div class="dashboard-controls-container">
    <div class="dashboard-controls-project">
      <div class="dashboard-controls-project-input-container">
        <input
          type="text"
          class="input dashboard-controls-project-input"
          placeholder="Project"
          aria-label="project"
          [formControl]="projectInput"
          [matAutocomplete]="projects"
        />
        <ic-icon
          class="dashboard-controls-project-icon angle-down-icon"
          [icon]="iconAngleDown"
        ></ic-icon>
        <mat-autocomplete autoActiveFirstOption #projects="matAutocomplete">
          <mat-option
            *ngFor="let project of filteredProjects | async"
            [value]="project.name"
          >
            {{ project.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <app-button
        class="dashboard-controls-project-button-add-to-filter"
        [buttonClass]="'button-secondary button-b'"
        [icon]="iconPinned"
        iconWidth="1.5rem"
        iconHeight="1.5rem"
        (buttonClick)="addProjectToFilter()"
      ></app-button>
    </div>
    <div
      class="dashboard-controls-selected-projects"
      *ngIf="managerProjectsFilter.length"
    >
      <ul class="dashboard-controls-selected-projects-list">
        <li
          *ngFor="let project of managerProjectsFilter"
          class="dashboard-controls-selected-projects-list-item"
          [style.backgroundColor]="project.color"
        >
          {{ project.name }}
          <ic-icon
            class="dashboard-controls-selected-projects-list-item-icon pinned-off-icon"
            [icon]="iconPinnedOff"
            (click)="this.removeProjectFilter.emit(project.name)"
          ></ic-icon>
        </li>
      </ul>
    </div>
  </div>
  <div class="dashboard-controls-main-view">
    <ng-container *ngIf="modeView === managerDashboardView.Table">
      <app-button
        class="dashboard-controls-main-view-table"
        buttonClass="button-primary button-xs button-right-border-straight"
        [icon]="iconTable"
        iconWidth="1.5rem"
        iconHeight="1.5rem"
        (buttonClick)="changeManagerMainView.emit(managerDashboardView.Table)"
      ></app-button>
      <app-button
        class="dashboard-controls-main-view-table-arrows"
        buttonClass="button-primary button-half-of-primary button-xs button-left-border-straight"
        [icon]="iconChartArrows"
        iconWidth="1.5rem"
        iconHeight="1.5rem"
        (buttonClick)="changeManagerMainView.emit(managerDashboardView.Arrows)"
      ></app-button>
    </ng-container>
    <ng-container *ngIf="modeView === managerDashboardView.Arrows">
      <app-button
        class="dashboard-controls-main-view-table"
        buttonClass="button-primary button-half-of-primary button-xs button-right-border-straight"
        [icon]="iconTable"
        iconWidth="1.5rem"
        iconHeight="1.5rem"
        (buttonClick)="changeManagerMainView.emit(managerDashboardView.Table)"
      ></app-button>
      <app-button
        class="dashboard-controls-main-view-table-arrows"
        buttonClass="button-primary button-xs button-left-border-straight"
        [icon]="iconChartArrows"
        iconWidth="1.5rem"
        iconHeight="1.5rem"
        (buttonClick)="changeManagerMainView.emit(managerDashboardView.Arrows)"
      ></app-button>
    </ng-container>
  </div>
</section>
