:host {
  @import "mixins.scss";

  .projects-list-item {
    &-header {
      @include flex(flex-start, space-between);
      width: 100%;
      &-title {
        padding: 0 var(--offset-b);
        border: var(--border-s) solid var(--white);
        border-radius: var(--border-radius-l);
        font: var(--font-blocks);
      }
    }

    &-name {
      font: var(--font-main);
      font-size: 1.25rem;
    }

    &-description {
      font: var(--font-main);
      font-size: 1.25rem;
      color: var(--gray2);
    }
  }
}
