:host {
  @import "mixins.scss";

  .projects-list-item {
    @include flex(flex-start, center, var(--offset-d));
    flex-direction: column;
    padding: var(--offset) var(--offset-m);
    width: 100%;
    max-width: 21.5rem;
    height: 8.5rem;
    border-radius: var(--border-radius);
    border: var(--border-xxs) solid var(--gray);
    background-color: var(--white);
    scroll-snap-align: start;
    cursor: pointer;

    &-header {
      @include flex(flex-start, space-between);
      width: 100%;
      &-title {
        padding: 0 var(--offset-b);
        border: var(--border-s) solid var(--rose);
        border-radius: var(--border-radius-l);
        font: var(--font-blocks);
      }
    }

    &-name {
      font: var(--font-main);
      font-size: 1.25rem;
    }

    &-description {
      font: var(--font-main);
      font-size: 1.25rem;
      color: var(--gray2);
    }
  }
}
