@import "vars/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: $white;
  color: #333;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #666;
  }
}

ul,
li {
  list-style: none;
}

.bg-primary {
  background: $primary-color;
  color: $white;
}

.button {
  height: 3.75rem;
  width: 100%;
  cursor: pointer;
  color: $white;
  outline: none;
  background-color: $yellow;
  border: unset;
  padding: 0 $offset-l;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.25rem;
  font: $font-form-element;
  text-transform: uppercase;
  border-radius: calc(1rem * 2);
  border-radius: $border-radius-l;

  &:disabled {
    background-color: $gray;
    cursor: not-allowed;
  }
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: $light-color;
  color: #333;
}

.button-primary {
  background: $primary-color;
  color: $white;
}

.alert-danger {
  background: $danger-color;
  color: $white;
}
