@import "vars/variables";
@import "mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-size: 1rem;
  background-color: $white;
  color: $black;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.input {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
  outline: none;
  border: $border-input;
  border-radius: $border-radius-m;
  background-color: $white;
  color: $gray2;

  &::placeholder {
    color: $gray2;
  }
  &:focus {
    box-shadow: $border-input-select;
    color: black;
  }
  &:hover {
    box-shadow: $border-input-select;
  }
  &-warning {
    border: $border-input-warning;
  }
}

.button {
  @include flex-сenter;
  padding: 0 1rem;
  height: 4rem;
  outline: none;
  border: none;
  border-radius: $border-radius-m;
  font: $font-form-element;
  color: $white;
  cursor: pointer;
  &-primary {
    background-color: $primary;
    &:hover {
      background-color: $primary-hover;
    }
    &:disabled {
      background-color: $primary-disabled;
    }
  }
  &-secondary {
    border: $border-button;
    background-color: $white;
    color: $primary;

    &:hover {
      border-color: $primary-hover;
      color: $primary-hover;
    }
    &:disabled {
      border-color: $primary-disabled;
      color: $primary-disabled;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.error {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background-color: $warning;
  color: $white;
}

.sidebar-list-item-icon path,
.sidebar-list-item-icon g {
  stroke-width: 1;
}
