@mixin flex($align, $justify, $gap: 0) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin profile-photo($width, $height) {
  width: $width;
  height: $height;
  border-radius: 100%;
  object-fit: cover;
}

@mixin color-variables($colors) {
  @each $name, $color in $colors {
    --#{"" + $name}: #{$color};
  }
}

@mixin var-range($variable, $value) {
  #{$variable}: $value;
  #{$variable}-xxs: calc(var(#{$variable}) / 8);
  #{$variable}-xs: calc(var(#{$variable}) / 4);
  #{$variable}-s: calc(var(#{$variable}) / 2);
  #{$variable}-d: calc(var(#{$variable}) * 0.75);
  #{$variable}-m: calc(var(#{$variable}) * 1.5);
  #{$variable}-l: calc(var(#{$variable}) * 2);
  #{$variable}-xl: calc(var(#{$variable}) * 4);
}
