$border: 0.25rem;

$border-radius: 0.5rem;

$border-input: var(--border-xs) solid var(--gray);
$border-input-select: 0 0 0.4rem rgba(87, 74, 249, 0.25);
$border-input-warning: var(--border) solid var(--warning);

$border-button: var(--border-s) solid var(--primary);

$border-sidebar: var(--border) solid var(--gray);
$border-sidebar-active: var(--border) solid var(--primary);

$border-table: var(--border-xxs) solid var(--gray);

$border-radius-table-bar: 0 0 var(--offset-s) var(--offset-s);
$border-radius-table-tooltip: var(--offset) var(--offset) var(--offset) 0;

$border-form: var(--border-xs) solid var(--primary);
$border-cdk-select: 0px 0px 10rem rgba(87, 74, 249, 0.25);