$base-colors: (
  white: #fff,
  primary: #7353d0,
  primary-50: #b9a9e8,
  primary-hover: #6247b1,
  primary-disabled: #886dd7,
  primary-max: #392968,
  secondary: #bfc9d9,
  blue: #23325a,
  blue1: #a0d7e7,
  background: #f3f7fd,
  gray: #dde1f2,
  gray2: #808689,
  gray3: #969696,
  gray4: #d9d9d9,
  gray5: #e4e8ee,
  black: #222,
  green: #7ae582,
  orange: #e26a43,
  warning: #f65436,
  light-orange: #ffb55e,
  red-apple: #e71d36,
  aqua: #2ec4b6,
  marine: #25a18e,
  galaxy: #5f0a87,
  violet: #a45c84,
  yellow: #fbd304,
  yellow2: #f4bf4a,
  yellow3: #f8cf45,
  rose: #ff3d71,
  ocean: #045585,
  flowers: #db0492,
  mint: #04e4cc,
  powder: #fca4ac,
  selected-day: #d0f1e5,
  shadow-project-selected: rgb(123 97 255 / 25%),
  calendar-item-selected:
    linear-gradient(180deg, rgb(115 83 208 / 0%) 0%, rgb(87 41 218 / 22%) 100%),
);
