@import "vars/variables";
@import "mixins";

::ng-deep {
  .cdk-overlay-panel.visitClass {
    width: 11.5rem !important;
    margin-top: var(--offset-xs);
    margin-left: -1.1rem;
  }

  .mat-autocomplete-panel.visitClass {
    max-height: 10rem !important;

    background-color: var(--white);
    border-radius: 0 0 var(--offset-d) var(--offset-d) !important;
    box-shadow: $border-cdk-select !important;
  }

  .mat-option.visitClass {
    height: 2.5rem !important;

    color: var(--gray2);

    border: $border-input;

    &:hover {
      background-color: var(--white) !important;
      box-shadow: $border-input-select;
    }
  }

  .mat-selected.visitClass {
    color: var(--primary) !important;
  }

  .mat-select-value-text.visitClass {
    text-transform: capitalize;
  }

  .mat-option-text.visitClass {
    text-transform: capitalize;
  }

  .mat-dialog-title.visitClass {
    margin: 0 !important;
  }

  .form-report-top-filter-icon svg {
    @include icon-s;
  }

  .form-report-bottom-vacation-icon svg {
    @include icon-l;
  }
}

:host {
  .profile-visit-card {
    display: flex;
    flex-direction: column;

    border: $border-input;
    border-radius: var(--border-radius-l);

    &-name {
      display: flex;
      align-items: center;

      margin: var(--offset);

      &-text {
        width: 18rem;

        font: var(--font-title);
        color: var(--black);
      }
    }

    &-alert {
      display: flex;
      flex: 1;
      align-items: center;

      height: 1.75rem;
      margin-left: var(--offset-xl);

      font: var(--font-alert);
      color: var(--orange);

      background-color: var(--alert);

      &-icon {
        margin: 0 var(--offset-d);
      }
    }

    &-info {
      display: flex;

      &-photo {
        @include flex(center, center);
        margin: 0 0 0 var(--offset-m);
      }

      &-photo-avatar {
        @include profile-photo(16rem, 16rem);
      }

      &-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding-bottom: 0;
      }
    }
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: calc(100% / 3);
    margin: var(--offset-s) var(--offset-m);

    word-wrap: break-word;

    &-title {
      margin: var(--offset-d) 0;

      font: var(--font-currentBig);
      color: var(--gray2);
    }

    &-data {
      font: var(--font-card);
    }
  }

  ::ng-deep {
    .mat-form-field {
      padding: var(--offset-d) var(--offset);

      font-size: var(--font-main);
      line-height: 1;

      background-color: var(--white);
      border: $border-input;
      border-radius: var(--border-radius-m);

      &:hover {
        box-shadow: $border-input-select;
      }

      &-warning {
        border-color: var(--warning);
      }

      &-icon {
        cursor: pointer;

        transform: rotate(-90deg);

        width: 1.5rem;
        height: 1rem;

        svg {
          @include icon-m;
          margin: auto;

          path {
            fill: var(--gray2);
          }
        }
      }

      .mat-form-field-wrapper {
        padding: 0;
      }

      .mat-form-field-flex {
        padding: 0;

        background: none;
      }

      .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0;

        border-radius: none;
      }

      .mat-form-field-infix {
        @include flex(center, space-between);
        padding: 0;

        border-top: none;
      }

      .mat-form-field-underline {
        display: none;
      }

      .mat-input-element {
        color: var(--gray2);
      }
    }

    .mat-form-field-invalid .mat-input-element {
      caret-color: var(--black);
    }
  }
}
