<nav class="sidebar">
  <img
    class="sidebar-logo"
    src="assets/img/sidebar/DatamolaLogo.svg"
    alt="Datamola"
  />
  <ul class="sidebar-list">
    <li class="sidebar-list-item" *ngFor="let item of navItems">
      <a
        class="sidebar-list-item-link"
        routerLinkActive="active"
        [routerLink]="[item.routeLink]"
      >
        <ic-icon
          class="sidebar-list-item-icon"
          width="2rem"
          height="2rem"
          [icon]="item.icon"
        ></ic-icon>
        <span class="sidebar-list-item-label">{{ item.label }}</span>
      </a>
    </li>
  </ul>

  <img
    class="sidebar-photo"
    src="{{ photo || defaultPhoto }}"
    alt="photo"
    routerLinkActive="active-photo"
    [routerLink]="['profile']"
  />
</nav>
