:host {
  @import "vars/variables.scss";
  @import "mixins.scss";
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: $offset-l 0;
    width: $sideBar-width;
    height: 100vh;
    width: $sideBar-width;
    max-height: 100vh;
    background: $white;
    border-right: $sidebar-border-right;
    &-logo {
      width: 3rem;
      height: 4rem;
    }
    &-list {
      @include flex-сenter;
      flex-direction: column;
      width: 100%;
      gap: $offset-xl;
      &-item {
        width: 100%;
        &-link {
          @include flex-сenter;
          flex-direction: column;
          width: 100%;
          color: $icon-label-color;
          box-sizing: content-box;
          &:hover {
            color: $icon-hover-color;
            border-right: $sidebar-border-right-hover;
          }
        }
        &-icon {
          color: $gray;
          &-active {
            color: $icon-hover-color;
          }
        }
        &-label {
          color: $gray2;
          &-active {
            color: $icon-hover-color;
          }
        }
        &-active {
          border-right: $sidebar-border-right-hover;
          &-profile {
            outline: $sidebar-profile-hover;
          }
        }
      }
    }
    &-container {
      display: flex;
      flex-direction: column;
      gap: $offset-s;
      width: 100%;
    }
    &-profile {
      @include profile-photo;
      cursor: pointer;
      &:hover {
        outline: $sidebar-profile-hover;
      }
      &-active {
        outline: $sidebar-profile-hover;
      }
    }
  }
  .cursor {
    cursor: pointer;
  }

  @media only screen and (max-height: 768px) {
    * {
      font-size: $font-size-s;
    }
    .sidebar-list {
      gap: $offset-m;
    }
  }
}
