<div class="header-wrapper">
  <h1>My Activity</h1>
  <app-toggle-buttons
    class="choose-period-buttons"
    [labels]="labels"
    [checked]="period"
    (changeMode)="selectPeriod.emit($event)"
  ></app-toggle-buttons>
</div>
<div class="container">
  <div class="container-chart-wrapper">
    <h2 class="container-chart-wrapper-header">Daily Activity</h2>
    <app-activity-week-chart-container></app-activity-week-chart-container>
  </div>
  <app-projects-activity-container></app-projects-activity-container>
</div>
<div class="container">
  <app-activity-total-cards-container></app-activity-total-cards-container>
  <app-project-efficiency-component></app-project-efficiency-component>
</div>
