@import "mixins";

:host {
  .header-wrapper {
    @include flex(center, flex-start, var(--offset-l));
    height: 5rem;
    margin-bottom: var(--offset-l);

    h1 {
      font: var(--font-titleBig);
    }

    .choose-Period-buttons {
      transform: translateY(var(--offset-s));
    }
  }

  .container-for-charts {
    @include flex(flex-start, flex-start, var(--offset-l));
  }

  .container {
    padding: var(--offset) 0;
  }

  ::ng-deep {
    .highcharts-credits {
      display: none;
    }
  }
}
