<div class="dashboard-search-and-sort">
  <input
    class="input dashboard-search"
    type="text"
    placeholder="Search..."
    [formControl]="search"
  />
  <div class="flex-container" *ngFor="let label of labelsSort">
    <app-button
      buttonClass="button-secondary"
      [icon]="sortDescendingIcon"
      [label]="label"
      iconWidth="1.5rem"
      iconHeight="1.5rem"
      (buttonClick)="changeSort(label)"
    ></app-button>
  </div>
</div>
<main class="dashboard-main">
  <div class="dashboard-main-user-cards">
    <app-users-cards
      [users]="currentUsers"
      [taskTracksDurationGroupByUser]="taskTracksDurationGroupByUser"
    ></app-users-cards>
  </div>
</main>
<footer class="dashboard-footer">
  <app-holidays></app-holidays>
</footer>
