:host {
  @import "mixins.scss";

  .projects-list {
    @include flex(flex-start, flex-start, var(--offset-m));
    flex-direction: column;
    padding-bottom: var(--offset);
    width: calc(21.5rem + var(--offset-s) + var(--offset-b));
    max-width: calc(21.5rem + var(--offset-s) + var(--offset-b));
    height: max-content;
    max-height: 20rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    &-section {
      @include flex(flex-start, flex-start, var(--offset-m));
      flex-direction: column;
    }

    &-item {
      width: 100%;
      &-selected {
        box-shadow: 0 var(--offset-xs) var(--offset-l) -var(--offset-xs) rgba(123, 97, 255, 0.25);
      }
    }

    &::-webkit-scrollbar {
      width: var(--offset-s);
      background-color: var(--white);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--gray4);
      border-radius: var(--border-radius-l);
    }
  }
}
