<section class="projects-list-section">
  <app-input-search></app-input-search>
  <ul class="projects-list">
    <li class="projects-list-item">
      <div class="projects-list-item-header">
        <div class="projects-list-item-header-title">PSVOD</div>
        <div class="photos">
          <img
            class="photo-manager photo-manager-second"
            src="assets/img/user.png"
            alt="photo"
          />
          <img class="photo-manager" src="assets/img/user.png" alt="photo" />
        </div>
      </div>
      <p class="projects-list-item-name">Full name of project</p>
      <p class="projects-list-item-description">15 active tasks</p>
    </li>
    <li class="projects-list-item">
      <div class="projects-list-item-header">
        <div class="projects-list-item-header-title">PSVOD</div>
        <div class="photos">
          <img
            class="photo-manager photo-manager-second"
            src="assets/img/user.png"
            alt="photo"
          />
          <img class="photo-manager" src="assets/img/user.png" alt="photo" />
        </div>
      </div>
      <p class="projects-list-item-name">Full name of project</p>
      <p class="projects-list-item-description">15 active tasks</p>
    </li>
    <li class="projects-list-item">
      <div class="projects-list-item-header">
        <div class="projects-list-item-header-title">PSVOD</div>
        <div class="photos">
          <img
            class="photo-manager photo-manager-second"
            src="assets/img/user.png"
            alt="photo"
          />
          <img class="photo-manager" src="assets/img/user.png" alt="photo" />
        </div>
      </div>
      <p class="projects-list-item-name">Full name of project</p>
      <p class="projects-list-item-description">15 active tasks</p>
    </li>
    <li class="projects-list-item">
      <div class="projects-list-item-header">
        <div class="projects-list-item-header-title">PSVOD</div>
        <div class="photos">
          <img
            class="photo-manager photo-manager-second"
            src="assets/img/user.png"
            alt="photo"
          />
          <img class="photo-manager" src="assets/img/user.png" alt="photo" />
        </div>
      </div>
      <p class="projects-list-item-name">Full name of project</p>
      <p class="projects-list-item-description">15 active tasks</p>
    </li>
  </ul>
</section>
