<section class="projects-list-section">
  <app-input-search-container></app-input-search-container>
  <ul class="projects-list">
    <app-project-item
      class="projects-list-item"
      [class.projects-list-item-selected]="
        selectedProject && selectedProject.id === project.id
      "
      *ngFor="let project of projects | searchProjects: searchText"
      [project]="project"
      [tasks]="tasks"
      [users]="users"
      [taskTracks]="taskTracks"
      [routerLink]="[project.name | lowercase]"
    ></app-project-item>
  </ul>
</section>
