@import "vars/variables";
@import "mixins";

:host {
  .project {
    overflow: hidden;

    width: max-content;
    max-width: 10rem;
    padding: 0 var(--offset);

    font: var(--font-blocks);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    background-color: var(--white);
    border: $border-radius-button;
    border-radius: var(--offset-l);
  }
}
