@import "mixins";
@import "vars/variables";

::ng-deep {
  .mat-expansion-panel-body {
    @include flex(flex-start, flex-start, var(--offset-m));
    flex-direction: column;

    margin-top: var(--offset);
    padding: var(--offset);
  }

  .mat-content {
    align-items: center;
  }
}

:host {
  $width-scroll: var(--offset-s);
  $height-header: 4rem;
  $gap: var(--offset-m);
  $gap-scroll: calc(var(--offset-l) / 2 - #{$width-scroll} / 2);

  display: flex;

  width: 100%;
  max-width: 100%;
  max-height: 100%;

  .activeTasks {
    @include flex(flex-start, flex-start, #{$gap});
    flex-direction: column;

    width: 100%;
    max-width: 100%;

    &-header {
      @include flex(center, flex-start);
      width: 100%;
      height: #{$height-header};
      max-height: 4rem;
      margin-bottom: 0;

      font: var(--font-title);
      text-transform: capitalize;
    }

    &-list {
      @include flex(flex-start, flex-start, var(--offset));
      @include scroll-bar;
      overflow-y: scroll;
      flex-direction: column;

      width: calc(100% + #{$width-scroll} + #{$gap-scroll});
      max-width: calc(100% + #{$width-scroll} + #{$gap-scroll});
      max-height: calc(100% - #{$height-header} - #{$gap});
      margin-right: calc((#{$width-scroll} * -1) + (#{$gap-scroll} * -1));

      background-color: var(--white);

      &-item {
        width: calc(100% - #{$gap-scroll});
      }
    }
  }

  .project {
    padding: var(--offset-s);

    border: var(--border-xs) solid var(--gray);
    border-radius: var(--border-radius);
    box-shadow: none;

    :hover {
      background: none;
    }

    &-header {
      width: 100%;
      height: 100%;
      padding: 0;

      &-title {
        flex-grow: 0;

        height: fit-content;
        margin-right: var(--offset);
        padding: 0 var(--offset-b);

        font: var(--font-blocks);

        border: var(--border-s) solid var(--white);
        border-radius: var(--border-radius-l);
      }

      &-user-info {
        margin-left: 1rem;

        &-name {
          font: var(--font-buttonSmall);
          text-transform: capitalize;
        }

        &-position {
          font: var(--font-main);
          color: var(--gray2);
          text-transform: capitalize;
        }
      }

      &-description {
        justify-content: flex-end;

        margin-right: var(--offset);

        font: var(--font-main);
        font-size: 1.25rem;
        color: var(--black);

        &-buttons {
          @include flex(center, center);

          &-item {
            margin-left: var(--offset-s);
          }
        }
      }
    }
  }

  .activeTask {
    @include flex(flex-start, flex-start, var(--offset-s));
    flex-direction: column;

    width: 100%;

    &-container {
      @include flex(flex-start, flex-start, var(--offset-s));
      width: 100%;
    }

    &-date {
      color: var(--gray2);
    }

    &-image {
      @include profile-photo(5rem, 5rem);
    }

    &-description {
      @include flex(flex-start, flex-start, var(--offset-xs));
      flex-direction: column;

      width: 100%;

      &-header {
        @include flex(flex-start, space-between);
        width: 100%;

        &-name {
          font: var(--font-main);
        }

        &-duration {
          color: var(--primary);
        }
      }

      &-comment {
        font: var(--font-currentSmall);
        text-align: justify;
        word-break: break-word;
      }
    }
  }

  .flex-container {
    @include flex(center, space-between);
    width: 100%;
  }
}
