<app-header></app-header>

<app-manager-controls-container></app-manager-controls-container>

<section class="dashboard-main">
  <app-manager-dashboard-list-tasks
    class="dashboard-main-tasks"
    [activeProjectFilter]="activeProjectFilter"
    [tasksForManager]="tasksForManager"
    [activeTask]="activeTask"
    (selectTask)="selectTask.emit($event)"
  ></app-manager-dashboard-list-tasks>
  <section>Chart</section>
</section>

<!-- <app-vacations-component
  class="dashboard-vacations"
  [vacations]="vacations"
></app-vacations-component> -->
