@import "vars/variables";
@import "mixins";

:host {
  @include flex(flex-start, flex-start, var(--offset-l));
  flex-direction: column;

  height: 100%;
  max-height: 100%;

  .dashboard-main {
    @include flex(flex-start, flex-start, var(--offset-ml));
    @include scroll-bar;
    overflow: auto;
    flex: 3;

    width: 100%;
    height: calc(100% - 4rem);
    max-height: calc(100% - 4rem);
    padding: var(--offset-m);

    border: $border-input;
    border-radius: var(--border-radius-l);

    &-tasks {
      width: 30%;
      height: 100%;
    }

    &-chart {
      @include scroll-bar;

      width: 70%;
      height: 100%;

      &-period {
        @include flex(flex-start, flex-start);
        height: 3.65rem;

        &-day {
          @include flex(center, center);
          height: 100%;

          font: var(--font-blocks);
          font-weight: 400;
          color: var(--gray3);

          &-weekend {
            background: var(--pale-blue);
          }
        }
      }
    }
  }

  .dashboard-vacations {
    flex: 1;
  }

  ::ng-deep {
    $height-scroll: var(--offset-s);

    .vacations {
      padding: 0 !important;

      border: none !important;
      border-radius: 0 !important ;

      &-list {
        flex-direction: row !important;

        padding: 0 0 var(--offset) 0 !important;

        &-item {
          height: 100%;

          &-wrapper {
            min-width: 21rem;
            padding: var(--offset-s) var(--offset) var(--offset-s)
              var(--offset-m) !important;
          }
        }
      }
    }
  }
}
