@import "vars/variables";
@import "mixins";

::ng-deep {
  .modal {
    min-width: min-content;

    .mat-dialog-container {
      overflow: inherit;

      padding: 0;

      border-radius: var(--offset);
    }

    .form-report-img {
      position: absolute;
      z-index: 0;
      bottom: 0;
      left: 0;

      width: 23rem;
      height: 20rem;
    }
  }

  .mat-dialog-container .form-report {
    min-width: 61rem;
  }
}
