:host {
  @import "vars/variables.scss";
  .authrorization {
    background-color: $blue;
    min-height: 100vh;
    min-width: 100%;
    &__form {
      max-width: 30rem;
      margin: 0 auto;
      padding: 20vh 0;
    }
  }

  .form {
    &__title {
      font: $font-h2;
      color: $white;
      text-align: center;
      text-transform: uppercase;
      margin-block-end: $offset-m;
    }
    &__control {
      margin: $offset 0 0 0;
      height: 4rem;
      width: 100%;
      border: unset;
      border-radius: 2rem;
      background-color: $white;
      outline: none;
      padding: 0 2rem;
      color: #444444;
      font: $font-form-element;
      box-shadow: 0 0 2rem 0 rgb(5 20 50 / 50%);
      &.invalid {
        border: solid $offset-xs $danger-color;
      }
      &-validation {
        margin-top: $offset-xs;
        padding: 0 2rem;
        color: $danger-color;
        font: $font-form-element;
      }
    }

    &__button {
      margin: $offset 0;
    }
  }
}
