<header class="projects-header">
  <div class="flex-container">
    <h2 class="projects-header-title">Projects</h2>
    <div class="projects-header-item" *ngIf="projectByRoute">
      <ic-icon
        class="icon"
        width="2rem"
        height="2rem"
        [icon]="iconAngleRight"
      ></ic-icon>
      <div
        class="projects-header-item-title"
        [ngStyle]="{ 'border-color': projectByRoute.color }"
      >
        {{ projectByRoute.name }}
      </div>
      <div class="projects-header-item-name">{{ projectByRoute.fullName }}</div>
    </div>
  </div>
  <ng-container *ngIf="currentUser !== userType.Employee">
    <div class="projects-header-buttons">
      <app-toggle-buttons
        class="projects-header-buttons-item"
        [labels]="toggleLabels"
        [checked]="currentMode"
        [buttonClass]="'button-s'"
        (changeMode)="changeMode($event)"
      ></app-toggle-buttons>
      <app-button
        class="projects-header-buttons-item"
        buttonClass="button-secondary"
        label="Send notifications"
        [icon]="messagePlusIcon"
        iconHeight="1.5rem"
        iconWidth="1.5rem"
      ></app-button>
      <app-button
        mat-button
        class="projects-header-buttons-item"
        buttonClass="button-primary"
        label="Approve all hours"
        [icon]="checksIcon"
        iconHeight="1.5rem"
        iconWidth="1.5rem"
        (click)="modalApproveHours()"
      ></app-button>
    </div>
  </ng-container>
</header>

<div *ngIf="currentMode !== 'by budget'" class="projects-container">
  <app-projects-list-container></app-projects-list-container>
  <ng-container *ngIf="currentMode === projectMode.Tasks">
    <app-active-tasks-container></app-active-tasks-container>
  </ng-container>
  <ng-container
    *ngIf="
      currentUser !== userType.Employee && currentMode === projectMode.Users
    "
  >
    <app-active-tasks-users-container></app-active-tasks-users-container>
  </ng-container>
  <div class="projects-team-and-vacations">
    <ng-container
      *ngIf="
        currentUser !== userType.Employee && currentMode === projectMode.Users
      "
    >
      <app-active-tasks-user-mode-container></app-active-tasks-user-mode-container>
    </ng-container>
    <ng-container *ngIf="currentMode === projectMode.Tasks">
      <app-projects-team
        [usersGroupByProject]="usersGroupByProject"
        [projectByRoute]="projectByRoute"
        [taskTracks]="filteredTaskTracksByPeriod"
      ></app-projects-team>
    </ng-container>
    <app-vacations-component
      *ngIf="vacationsAndHolidaysTeam"
      class="projects-vacations"
      [vacations]="vacationsAndHolidaysTeam"
    ></app-vacations-component>
  </div>
</div>
<ng-container *ngIf="currentMode === 'by budget'">
  <section class="budget"></section>
</ng-container>
