@import "mixins";

:host {
  $gap: var(--offset-l);
  $header-height: 5rem;

  display: flex;

  height: 100%;
  max-height: 100%;

  .projects {
    @include flex(flex-start, flex-start, #{$gap});

    flex-direction: column;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    &-header {
      @include flex(center, space-between, var(--offset-sm));
      width: 100%;
      height: #{$header-height};
      max-height: #{$header-height};

      &-title {
        font: var(--font-titleBig);
      }

      &-buttons {
        @include flex(center, center);

        &-item {
          margin-left: var(--offset);
        }
      }

      &-item {
        @include flex(center, flex-start, var(--offset-sm));

        &-title {
          padding: 0 var(--offset-b);

          font: var(--font-blocks);

          border: var(--border-s) solid var(--rose);
          border-radius: var(--border-radius-l);
        }

        &-name {
          font: var(--font-main);
          font-size: 1.25rem;
        }
      }
    }

    &-container {
      @include flex(flex-start, flex-start, var(--offset-l));
      width: 100%;
      max-width: 100%;
      height: calc(100% - #{$header-height} - #{$gap});
      max-height: calc(100% - #{$header-height} - #{$gap});
    }

    &-team {
      @include flex(flex-start, flex-start, var(--offset-l));
      flex-direction: column;

      width: 25%;
      max-width: 25%;
      height: 100%;
      max-height: 100%;
    }
  }

  .flex-container {
    @include flex(center, center);
  }

  ::ng-deep {
    .mat-expansion-indicator::after {
      display: flex;

      margin: 0 var(--offset-xs);
      padding: var(--offset-xs);

      color: var(--black);
    }
  }
}
