@import "vars/variables";
@import "mixins";

:host {
  .total-card-item {
    @include flex(flex-start, space-between);
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 7% 13% 13%;

    border-radius: var(--border-radius-l);
    box-shadow: $border-radius-activity-total-cards;
    cursor: pointer;

    &:hover {
      box-shadow: $border-input-select;
    }

    &-img {
      width: 70%;
      height: 50%;
      margin: 0 auto;

      img {
        display: block;
        height: 100%;
        width: 100%;
        margin: 0 auto;
      }
    }

    &-title {
      font: var(--font-blocks);
      color: var(--gray2);
      text-transform: capitalize;
    }

    &-hours {
      font: var(--font-titleBig);
      color: var(--black);
    }

    &-bar {
      display: flex;
      flex-direction: column;

      width: 100%;
      margin: 0 auto;

      &-title {
        width: 80%;
        margin: 0 auto;

        font: var(--font-current-small);
        color: var(--gray2);
        text-align: right;
      }

      &-item {
        width: 80%;
        height: 0.5rem;
        margin: 0 auto;

        background-color: var(--gray5);
        border: none;
        border-radius: var(--offset);

        &-progress {
          width: 80%;
          height: 100%;

          border: none;
          border-radius: var(--border-radius-xxl);
        }
      }
    }
  }
}
