<header class="projects-header">
  <h2 class="projects-header-title">Projects</h2>
  <div class="projects-header-item">
    <ic-icon
      class="icon"
      width="2rem"
      height="2rem"
      [icon]="iconAngleRight"
    ></ic-icon>
    <div
      class="projects-header-item-title"
      [ngStyle]="{ 'border-color': 'var(--rose)' }"
    >
      PSVOD
    </div>
    <div class="projects-header-item-name">PSVOD fullName</div>
  </div>
</header>

<div class="projects-container">
  <app-projects-list-container></app-projects-list-container>
</div>
