:host {
  .img {
    width: 100%;
    height: 100%;
    background-image: url("../../../../../assets/img/CTO-Screen/CTO-Dashboard.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
