@import "mixins";

:host {
  .authorization {
    @include flex(center, center);
    min-width: 100%;
    min-height: 100vh;

    background: linear-gradient(
      180deg,
      rgb(115 83 208 / 0%) 0%,
      rgb(115 83 208 / 15%) 100%
    );

    &-form {
      width: 30rem;
      max-width: 30rem;
    }
  }

  .form {
    &-title {
      margin-block-end: var(--offset-m);

      font: var(--font-authorization-title);
      text-align: center;
      text-transform: uppercase;
    }

    &-control {
      width: 100%;
      margin-top: var(--offset);

      &-validation {
        margin-top: var(--offset-xs);
        padding: 0 var(--offset);

        color: var(--warning);
      }
    }
  }
}
