@import "mixins";

:host {
  .active-task-wrapper {
    @include scroll-bar;
    overflow: auto;

    width: 100%;
    max-height: calc(100% - 3.5rem);
    margin: var(--offset-s) 0;
  }

  .active-tasks {
    margin: var(--offset-s) 0;

    &-title {
      margin-bottom: var(--offset-s);

      font: var(--font-title);
    }

    &-list {
      margin: var(--offset-s) 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
