<section class="dashboard-main-tasks">
  <header class="dashboard-main-tasks-header">
    <ng-container *ngIf="activeProjectFilter">
      <app-project-label
        [projectColor]="activeProjectFilter.color"
        [projectName]="activeProjectFilter.name"
      ></app-project-label>
    </ng-container>
  </header>
  <ng-container *ngIf="tasksForManager.length">
    <ul
      class="dashboard-main-tasks-list"
      [style.overflowY]="
        modeView === managerDashboardView.Table ? 'scroll' : 'visible'
      "
    >
      <li
        class="dashboard-main-tasks-list-item"
        *ngFor="let task of tasksForManager"
        [class.dashboard-main-tasks-list-item-selected]="
          task.id === activeTask?.id
        "
        [style.minHeight.px]="
          modeView === managerDashboardView.Table
            ? chartXRangeHeight
            : chartXRangeHeight * taskTracksByUserLength(task.taskTracksInTask)
        "
        [style.maxHeight.px]="
          modeView === managerDashboardView.Table
            ? chartXRangeHeight
            : chartXRangeHeight * taskTracksByUserLength(task.taskTracksInTask)
        "
        (click)="selectTask.emit(task)"
      >
        <div
          class="dashboard-main-tasks-list-item-bar"
          [style.backgroundColor]="colors[task.id]"
        ></div>
        <span class="dashboard-main-tasks-list-item-name">
          {{ task.name }}
        </span>
        <span class="dashboard-main-tasks-list-item-duration">
          {{ task.durationInTask }}h
        </span>
      </li>
    </ul>
  </ng-container>
</section>
