@import "mixins";

:host {
  .report {
    @include flex(flex-start, flex-start, var(--offset-l));
    flex-direction: column;

    margin-right: var(--offset-xm);

    &-header {
      @include flex(center, space-between);
      width: 100%;

      &-title {
        font: var(--font-titleBig);
      }

      &-container {
        @include flex(center, center, 5rem);
      }
    }

    &-calendar {
      width: 100%;
    }

    &-input {
      width: 60%;
      margin-right: var(--offset-l);
    }

    &-todayview {
      width: 40%;
    }
  }

  .top {
    width: 100%;
  }

  .tasks-row {
    display: flex;

    width: 100%;
    margin-bottom: var(--offset-ml);
  }
}
