:host {
  @import "mixins.scss";
  .report {
    @include flex(flex-start, flex-start, var(--offset-l));
    margin-right: var(--offset-xm);
    flex-direction: column;

    &-header {
      @include flex(center, space-between);
      width: 100%;
      &-title {
        font: var(--font-titleBig);
      }
      &-container {
        @include flex(center, center, 5rem);
      }
    }
    &-calendar {
      width: 100%;
    }

    &-input {
      margin-bottom: 3rem;
      width: 52rem;
    }
  }
}
