:host {
  @import "mixins.scss";
  .report {
    @include flex(flex-start, flex-start, var(--offset-l));
    margin-right: var(--offset-xm);
    flex-direction: column;

    &-header {
      @include flex(center, space-between);
      width: 100%;
      &-title {
        font: var(--font-titleBig);
      }
      &-container {
        @include flex(center, center, 5rem);
      }
    }
    &-calendar {
      width: 100%;
    }

    &-input {
      margin-right: 2rem;
      width: 60%;
    }

    &-todayview {
      width: 40%;
    }
  }
  .top {
    width: 100%;
  }
  .tasks-row {
    display: flex;
    margin-bottom: 3rem;
    width: 100%;
  }
}
