@import "mixins";

:host {
  .project-efficiency {
    height: 25rem;
    border: var(--border-xs) solid var(--gray);
    border-radius: var(--border-radius-l);

    &-header {
      margin-top: var(--offset-l);
      text-align: center;
      font: var(--font-title);
    }

    &-hart-info {
      @include flex(flex-start, flex-start, var(--offset-ml));
      justify-content: center;
      margin: 4.5rem 0 5.7rem var(--offset-m);

      &-text {
        margin-top: var(--offset-b);
      }
    }
  }

  p {
    font: var(--font-current);
  }

  p:first-child {
    max-width: 8rem;
  }

  span {
    color: var(--primary);
  }
}
