<section class="project-efficiency">
  <h2 class="project-efficiency-header">Project efficiency</h2>
  <div class="project-efficiency-hart-info">
    <img src="assets/img/activity/Circle%20diaram.svg" />
    <div class="project-efficiency-hart-info-text">
      <p>
        Total project <span>{{ efficiency.complited }}</span> of them:
      </p>
      <p>
        completed projects <span>{{ efficiency.complited }}</span>
      </p>
      <p>
        shortages <span>{{ efficiency.shortages }}</span>
      </p>
      <p>
        overtimes <span>{{ efficiency.overtimes }}</span>
      </p>
    </div>
  </div>
</section>
