@import "mixins";

:host {
  .project-efficiency {
    @include flex(normal, normal, 4rem);

    overflow: hidden;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 6% 5% 15%;

    border: var(--border-xs) solid var(--gray);
    border-radius: var(--border-radius-l);

    &-chart {
      ::ng-deep {
        .highcharts-legend {
          display: none;
        }
      }
    }

    &-header {
      @include height-variables(83%, 4rem);
      padding-left: var(--offset-l);

      font: var(--font-title);
      text-align: left;
    }

    &-container {
      overflow: hidden;
      display: flex;
      gap: var(--offset-dl);

      height: 100%;
    }

    &-wrapper {
      @include width-variables(40%, 1.425rem);
      height: 120%;
    }

    &-hart-info-text {
      @include width-variables(60%, 1.425rem);
      @include flex(normal, center);
      flex-direction: column;

      height: 70%;
    }
  }

  p {
    max-width: 9rem;

    font: var(--font-current);
  }

  span {
    color: var(--primary);
  }

  @media (max-width: 1650px) {
    .project-efficiency {
      gap: var(--offset-ml);

      padding: 3% 1% 1%;

      &-wrapper {
        height: 140%;
      }

      &-hart-info-text {
        height: 100%;
      }

      &-container {
        gap: 0;
        justify-content: space-around;

        p {
          font-size: var(--offset-d);
        }
      }

      .project-efficiency-header {
        font: var(--font-calendar);
      }
    }
  }

  @media (max-width: 1110px) {
    .project-efficiency {
      gap: 0;

      &-header {
        font: var(--font-current);
      }
    }
  }

  @media (min-width: 1650px) {
    .project-efficiency {
      padding: 2% 0 0;

      &-wrapper {
        height: 110%;
      }

      &-hart-info-text {
        height: 100%;
      }
    }
  }
}
