<section class="project-efficiency">
  <h2 class="project-efficiency-header">Project efficiency</h2>
  <div class="project-efficiency-container">
    <div class="project-efficiency-wrapper">
      <app-highcharts-chart
        class="project-efficiency-chart"
        [options]="basicOptions"
        [data]="seriesData"
      ></app-highcharts-chart>
    </div>
    <div class="project-efficiency-hart-info-text">
      <p>
        Effective work hours <span>{{ efficiency.complited }}</span>
      </p>
      <p>
        Shortcomming <span>{{ efficiency.shortages }}</span>
      </p>
      <p>
        Over worked hours <span>{{ efficiency.overtimes }}</span>
      </p>
    </div>
  </div>
</section>
