@import "vars/variables";
@import "mixins";

:host {
  position: absolute;
  right: var(--offset-xs);
  bottom: var(--offset-xs);

  ic-icon {
    display: flex;
  }

  .status {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.5rem;
    height: 1.5rem;

    // margin: var(--offset-l);

    border-radius: 50%;

    &.new,
    &.new::before {
      color: var(--warning);

      background: var(--warning);
    }

    &.sended,
    &.sended::before {
      color: var(--primary);

      background: var(--white);
      border: var(--border-xxs) solid var(--primary);
    }

    &.approved,
    &.approved::before {
      color: var(--white);

      background: var(--primary);
    }
  }
}
