<section class="vacations">
  <header class="vacations-header">
    <ic-icon [icon]="pineappleIcon" class="vacations-header-icon"></ic-icon>
    <h2 class="vacations-header-title">Vacations</h2>
  </header>
  <!-- <ul class="vacations-list">
    <li class="vacations-list-item" *ngFor="let vacation of vacations">
      <div class="vacations-list-item-circle"></div>
      <div class="vacations-list-item-wrapper">
        <div class="vacations-list-item-wrapper-info">
          <p class="vacations-list-item-wrapper-info-day">
            {{ vacation.vacationDay | date: "d MMM" }}
          </p>
          <p class="vacations-list-item-wrapper-info-employee">
            {{ vacation.fullName }}
          </p>
        </div>
        <img
          src="{{ vacation.photo }}"
          class="vacations-list-item-wrapper-photo"
        />
      </div>
    </li>
  </ul> -->
</section>
