:host {
    @import "mixins.scss";
    @import "vars/variables.scss";
  
    .projects-team-item {
      @include flex(flex-start, center, var(--offset-d));
      flex-direction: column;
      padding: var(--offset) var(--offset-m);
      width: 100%;
      max-width: 21.5rem;
      height: 8.5rem;
      background-color: var(--white);
      scroll-snap-align: start;
      scroll-margin-top: var(--offset-d);
      width: 100%;
  
      &-name {
        font: var(--font-calendar);
        font-size: 1.25rem;
      }
  
      &-role {
        font: var(--font-current);
        font-size: 1.25rem;
        color: var(--gray2);
      }
    }
  }