:host {
    @import "mixins.scss";
    @import "vars/variables.scss";
  
    .projects-team-item {
     
  
      &-name {
        font: var(--font-calendar);
        font-size: 1.25rem;
      }
  
      &-role {
        font: var(--font-current);
        font-size: 1.25rem;
        color: var(--gray2);
      }
    }
  }