<mat-accordion>
  <mat-expansion-panel
    class="project"
    (opened)="(!panelOpenState)"
    (closed)="(!panelOpenState)"
  >
    <mat-expansion-panel-header class="project-header">
      <mat-panel-title
        class="project-header-title"
        [ngStyle]="{ 'border-color': project.color }"
      >
        {{ project.name }}
      </mat-panel-title>
      <mat-panel-description class="project-header-description">
        {{ activeTask.name }}
        <app-button
          [buttonClass]="'button-primary button-add-to-report'"
          [icon]="iconClipboard"
          iconWidth="1.5rem"
          iconHeight="1.5rem"
          (buttonClick)="addToReport()"
        ></app-button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div
      class="activeTask"
      *ngFor="let activeTaskTrack of activeTaskTracksInTask"
    >
      <div class="activeTask-date">
        {{ activeTaskTrack.date.seconds * 1000 | date }}
      </div>
      <div class="activeTask-container">
        <img src="{{ defaultPhoto }}" class="activeTask-image" />
        <div class="activeTask-description">
          <div class="activeTask-description-header">
            <span class="activeTask-description-header-name">Angel Curtis</span>
            <span class="activeTask-description-header-duration">
              {{ activeTaskTrack.duration }}h
            </span>
          </div>
          <div class="activeTask-description-comment">
            <!--    {{ activeTaskTrack.comments }} -->
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
