<mat-accordion>
  <mat-expansion-panel
    class="project"
    (opened)="(!panelOpenState)"
    (closed)="(!panelOpenState)"
  >
    <mat-expansion-panel-header class="project-header">
      <mat-panel-title
        class="project-header-title"
        [ngStyle]="{ 'border-color': project.color }"
      >
        {{ project.name }}
      </mat-panel-title>
      <mat-panel-description class="project-header-description">
        {{ task.name }}
        <app-button
          [buttonClass]="'button-primary button-add-to-report'"
          [icon]="iconClipboard"
          iconWidth="1.5rem"
          iconHeight="1.5rem"
          (buttonClick)="addToReport()"
        ></app-button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngTemplateOutlet="activeTask"> </ng-container>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #activeTask>
  <div
    class="activeTask"
    *ngFor="let taskTrack of activeTaskTracksInTaskGroupByDate"
  >
    <div class="activeTask-date">
      {{ taskTrack[0] | date: "dd MMMM" }}
    </div>
    <div class="activeTask-container" *ngFor="let taskTrack of taskTrack[1]">
      <img
        src="{{ taskTrack.userInfo?.photo || defaultPhoto }}"
        class="activeTask-image"
        alt="user photo"
      />
      <div class="activeTask-description">
        <div class="activeTask-description-header">
          <span class="activeTask-description-header-name">
            {{ taskTrack.userInfo?.fullName }}
          </span>
          <span class="activeTask-description-header-duration">
            {{ taskTrack.duration }}h
          </span>
        </div>
        <div class="activeTask-description-comment">
          {{ taskTrack.comments }}
        </div>
      </div>
    </div>
  </div>
</ng-template>
