<mat-accordion>
  <mat-expansion-panel
    class="project"
    (opened)="(!panelOpenState)"
    (closed)="(!panelOpenState)"
  >
    <mat-expansion-panel-header class="project-header">
      <mat-panel-title
        class="project-header-title"
        [ngStyle]="{ 'border-color': 'var(--rose)' }"
      >
        PSVOD
      </mat-panel-title>
      <mat-panel-description class="project-header-description">
        PSVOD fullName
        <app-button
          [buttonClass]="'button-primary button-add-to-report'"
          [icon]="iconClipboard"
          iconWidth="1.5rem"
          iconHeight="1.5rem"
          (buttonClick)="addToReport()"
        ></app-button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="activeTask">
      <div class="activeTask-date">12 June</div>
      <div class="activeTask-container">
        <img src="{{ defaultPhoto }}" class="activeTask-image" />
        <div class="activeTask-description">
          <div class="activeTask-description-header">
            <span class="activeTask-description-header-name">Angel Curtis</span>
            <span class="activeTask-description-header-duration">3h</span>
          </div>
          <div class="activeTask-description-comment">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non alias
            beatae tempora recusandae incidunt. Quisquam, ex nostrum quia sequi,
            optio temporibus blanditiis, vero perspiciatis dignissimos impedit
            odit aperiam eaque ipsam?
          </div>
        </div>
      </div>
      <div class="activeTask-container">
        <img src="{{ defaultPhoto }}" class="activeTask-image" />
        <div class="activeTask-description">
          <div class="activeTask-description-header">
            <span class="activeTask-description-header-name">Angel Curtis</span>
            <span class="activeTask-description-header-duration">3h</span>
          </div>
          <div class="activeTask-description-comment">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non alias
            beatae tempora recusandae incidunt. Quisquam, ex nostrum quia sequi,
            optio temporibus blanditiis, vero perspiciatis dignissimos impedit
            odit aperiam eaque ipsam?
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
