<div class="top">
  <h1 mat-dialog-title class="title">Approve all hours</h1>
  <ic-icon class="icon-x" [icon]="iconX" mat-button mat-dialog-close></ic-icon>
</div>

<app-active-tasks-container [modalView]="true"></app-active-tasks-container>

<div mat-dialog-actions class="buttons">
  <button mat-button [mat-dialog-close]="false" class="buttons-cancel">
    Cancel
  </button>

  <app-button
    type="submit"
    [buttonClass]="'button-primary'"
    label=" Approve"
    [disabled]="false"
    iconWidth="2rem"
    iconHeight="2rem"
    (buttonClick)="approveReport()"
  ></app-button>
</div>
