<div class="wrapper">
  <div>
    <div class="approve-modal-header">
      <h1 mat-dialog-title class="title">Approve all hours</h1>
      <ic-icon
        class="icon-x"
        [icon]="iconX"
        mat-button
        mat-dialog-close
      ></ic-icon>
    </div>
    <div class="wrapper-scroll">
      <app-active-tasks-container
        class="active-tasks"
        [modalView]="true"
      ></app-active-tasks-container>
    </div>
  </div>
  <div mat-dialog-actions class="buttons">
    <app-button
      mat-button
      mat-dialog-close
      [buttonClass]="'button-secondary button-m'"
      type="button"
      label="Cancel"
    ></app-button>

    <app-button
      mat-button
      [mat-dialog-close]="openModal"
      type="submit"
      [buttonClass]="'button-primary button-m'"
      label=" Approve"
      [disabled]="false"
      (buttonClick)="approveReport()"
    ></app-button>
  </div>
</div>
