<section class="vacations">
  <header class="vacations-header">
    <ic-icon [icon]="pineappleIcon" class="vacations-header-icon"></ic-icon>
    <h2 class="vacations-header-title">Vacations</h2>
  </header>
  <ng-container *ngIf="vacations.length">
    <ul class="vacations-list">
      <li class="vacations-list-item" *ngFor="let vacation of vacations">
        <div class="vacations-list-item-circle"></div>
        <div class="vacations-list-item-wrapper">
          <div class="vacations-list-item-wrapper-info">
            <p
              class="vacations-list-item-wrapper-info-day"
              *ngIf="
                vacation.periodStart.toDate().getDay() !==
                  vacation.periodEnd.toDate().getDay();
                else unset
              "
            >
              {{ vacation.periodStart.toDate() | date: "d MMM" }} -
              {{ vacation.periodEnd.toDate() | date: "d MMM" }}
            </p>
            <ng-template #unset>
              <p class="vacations-list-item-wrapper-info-day">
                {{ vacation.periodStart.toDate() | date: "d MMM" }}
              </p>
            </ng-template>
            <p class="vacations-list-item-wrapper-info-employee">
              {{ vacation.type }}
            </p>
          </div>
          <img
            *ngIf="href === '/profile'"
            src="{{ userPhoto }}"
            class="vacations-list-item-wrapper-photo"
            alt="photo"
          />
          <img
            *ngIf="href !== '/profile'"
            src="{{ vacation.userId }}"
            class="vacations-list-item-wrapper-photo"
            alt="photo"
          />
        </div>
      </li>
    </ul>
  </ng-container>
</section>
