<div class="calendar-item" [class.selected]="selected">
  <div class="calendar-container">
    <div *ngIf="day.isTasks" class="calendar-bar">
      <div class="calendar-bar-progress" [style.height.rem]="timeBar"></div>
    </div>
    <div class="calendar-overtime-and-tooltip">
      <div *ngIf="day.isTasks" class="tooltip">
        <div class="tooltip-text">{{ day.duration }}h</div>
      </div>
      <div class="calendar-overtime-and-tooltip-container">
        <ng-container *ngIf="!selected && day.value <= todayDate">
          <div *ngIf="day.duration < 7" class="smile"></div>
        </ng-container>

        <div *ngIf="day.overtimeDuration" class="calendar-overtime">
          <div class="calendar-overtime-duration">
            {{ day.overtimeDuration }}h
          </div>
          <ic-icon
            class="calendar-overtime-icon"
            [icon]="iconFire"
            width="1.5rem"
            height="1.5rem"
          ></ic-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="calendar-clock-and-number">
    <app-clock *ngIf="day.value === todayDate"></app-clock>
    <div class="calendar-number">{{ day.value | date: "d" }}</div>
  </div>
</div>
