@import "vars/variables";
@import "mixins";

:host {
  $item-height: 6.625rem;
  $item-padding: var(--offset-s);

  .tooltip {
    @include flex(center, center);
    width: 2.5rem;
    height: var(--offset-xm);
    margin-left: var(--offset-d);

    font-size: var(--font-blocks);
    color: var(--white);

    visibility: hidden;
    background-color: var(--primary);
    border-radius: $border-radius-table-tooltip;
  }

  .calendar-item {
    @include flex(flex-start, space-between);
    cursor: pointer;

    width: 100%;
    height: 100%;
    min-height: $item-height;
    padding: $item-padding;

    font-size: var(--font-calendar);
    color: var(--gray3);

    border: $border-table;

    &:hover {
      box-shadow: $border-input-select;
    }

    &:hover .tooltip {
      visibility: visible;
    }
  }

  .selected {
    background: var(--calendar-item-selected);
  }

  .calendar-container {
    @include flex(flex-start, center);
  }

  .calendar-bar {
    position: relative;

    width: var(--offset-s);
    height: calc($item-height - $item-padding * 2);

    background-color: var(--gray);
    border-radius: $border-radius-table-bar;

    &-progress {
      position: absolute;
      bottom: 0;

      width: 100%;
      height: 0;

      background-color: var(--primary);
      border-radius: $border-radius-table-bar;
    }
  }

  .calendar-number {
    margin-top: auto;
  }

  .calendar-clock-and-number {
    @include flex(flex-end, space-between);
    flex-direction: column;

    height: 100%;
    min-height: 5.675rem;
  }

  .calendar-overtime-and-tooltip {
    @include flex(flex-start, space-between);
    flex-direction: column;

    height: 100%;
    min-height: 5.675rem;
  }

  .calendar-overtime {
    @include flex(flex-start, flex-end);
    margin-top: auto;
    margin-left: var(--offset-s);

    &-duration {
      font: var(--font-blocks);
      font-weight: 700;
      color: var(--orange);
    }
  }

  .more {
    background-color: var(--primary-max);
  }

  .disabled {
    opacity: 0.75;

    .calendar-number {
      opacity: 0.5;
    }
  }

  .warning {
    border: $border-input-warning;
  }
}
