:host {
  @import "vars/variables.scss";
  @import "mixins.scss";
  $item-height: 6.625rem;
  $item-padding: var(--offset-s);

  .tooltip {
    @include flex(center, center);
    visibility: hidden;
    margin-left: var(--offset-d);
    width: 2.5rem;
    height: var(--offset-xm);
    border-radius: $border-radius-table-tooltip;
    font-size: var(--font-blocks);
    color: var(--white);
    background-color: var(--primary);
  }

  .calendar-item {
    @include flex(flex-start, space-between);
    padding: $item-padding;
    width: 100%;
    height: $item-height;
    border: $border-table;
    font-size: var(--font-calendar);
    color: var(--gray3);
    cursor: pointer;

    &:hover {
      box-shadow: $border-input-select;
    }

    &:hover .tooltip {
      visibility: visible;
    }
  }

  .selected {
    border: $border-table-select;
    box-shadow: 0 0 0.5rem var(--selected-day);
  }

  .calendar-container {
    @include flex(flex-start, center);
  }

  .calendar-bar {
    position: relative;
    width: var(--offset-s);
    height: calc($item-height - $item-padding * 2);
    border-radius: $border-radius-table-bar;
    background-color: var(--gray);

    &-progress {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0;
      border-radius: $border-radius-table-bar;
      background-color: var(--primary);
    }
  }

  .calendar-number {
    margin-top: auto;
    padding-right: var(--offset);
  }

  .more {
    background-color: var(--primary-max);
  }

  .disabled {
    opacity: 0.75;

    .calendar-number {
      opacity: 0.5;
    }
  }

  .warning {
    border: $border-input-warning;
  }
}
