@import "vars/variables";
@import "mixins";

:host {
  ::ng-deep {
    .x-range-dataLabel {
      @include flex(center, space-between);
      padding-right: var(--offset);
      padding-left: var(--offset-s);

      font: var(--font-blocks);
      font-weight: 400;
      color: white;
      word-break: break-word;

      & div {
        @include flex(center, flex-start, var(--offset-s));
      }

      & img {
        @include profile-photo(2rem, 2rem);
      }
    }

    .chart-container {
      overflow: visible !important;

      height: auto !important;
    }
  }
}
