@import "vars/variables";
@import "mixins";

:host {
  .box {
    @include flex(center, center);

    --size-left: calc(((18 / 5) * var(--size-report) - 90) * 1deg);

    width: 26rem;
    height: 26rem;
    padding: var(--offset-dl);

    background: linear-gradient(var(--white), var(--white)) content-box,
      linear-gradient(var(--size-left), var(--gray) 51%, transparent 0) 0 /
        min(100%, (50 - var(--size-report)) * 100%),
      linear-gradient(var(--size-left), transparent 50%, var(--primary) 0) 0 /
        min(100%, (var(--size-report) - 50) * 100%),
      linear-gradient(to right, var(--gray) 50%, var(--primary) 0);
    border-radius: 50%;

    mask-composite: exclude;

    &-full {
      background: linear-gradient(var(--white), var(--white)) content-box,
        linear-gradient(var(--size-left), var(--gray) 51%, transparent 0) 0 /
          min(100%, (50 - var(--size-report)) * 100%),
        linear-gradient(
            var(--size-left),
            transparent 50%,
            var(--primary-hover) 0
          )
          0 / min(100%, (var(--size-report) - 50) * 100%),
        linear-gradient(to right, var(--gray) 50%, var(--primary-hover) 0);
    }

    &-text-hours {
      @include flex(center, center);
      user-select: none;

      margin-bottom: var(--offset-s);

      &-left {
        font: var(--font-titleBig);
        color: var(--gray4);
      }

      &-slash {
        font: var(--font-titleBig);
        color: var(--gray);
      }

      &-reported {
        font: var(--font-titleBig);
        color: var(--primary);
      }
    }

    &-text-explanation {
      @include flex(center, center);
      user-select: none;

      &-left {
        margin-left: auto;

        font: var(--font-blocks);
        color: var(--gray4);
        text-transform: capitalize;
      }

      &-reported {
        margin-left: auto;

        font: var(--font-blocks);
        font-weight: 300;
        color: var(--primary);
        text-transform: capitalize;
      }
    }
  }
}
