<ul class="users-cards">
  <li
    *ngFor="let user of users"
    class="users-cards-item"
    (click)="userCardClick.emit(user)"
  >
    <ng-container *ngIf="user">
      <div class="users-cards-item-header">
        <div class="users-cards-item-header-kpi">
          KPI &nbsp;<span class="users-cards-item-header-percentage">
            {{ getRandomInt(96) }}%
          </span>
        </div>
        <div class="users-cards-item-header-buttons">
          <app-button
            buttonClass="button-secondary button-xs"
            [icon]="iconBellRinging"
            iconHeight="1.5rem"
            iconWidth="1.25rem"
          ></app-button>
          <app-button
            buttonClass="button-primary button-xs"
            [icon]="iconFileImport"
            iconHeight="1.5rem"
            iconWidth="1.5rem"
            (buttonClick)="router.navigate([routes.ReportConstructor])"
          ></app-button>
        </div>
      </div>
      <div class="users-cards-item-info">
        <div
          class="user-container"
          (click)="router.navigate([routes.Team])"
          (click)="pickUser.emit(user)"
        >
          <img
            class="users-cards-item-info-avatar"
            src="{{ user.photo || defaultPhoto }}"
            alt="user photo"
          />
          <div
            class="user-status user-status-birthday"
            *ngIf="user.id === birthdayId"
          ></div>
          <div
            class="user-status user-status-alert"
            *ngIf="user.id === alertId"
          ></div>
        </div>
        <small class="users-cards-item-info-location">{{
          user.location
        }}</small>
      </div>
      <div class="users-cards-item-info">
        <span class="users-cards-item-info-name">{{ user.fullName }}</span>
        <small class="users-cards-item-info-position">{{
          user.position
        }}</small>
      </div>
      <div class="users-cards-item-footer">
        <span class="users-cards-item-footer-text">
          {{ getProgressUser(user).workingHours }} out of
          {{ workMonthDefaultHours }}
        </span>
        <div class="users-cards-item-footer-bar">
          <div
            class="users-cards-item-footer-bar-progress"
            [style.width.%]="getProgressUser(user).progress"
          ></div>
        </div>
      </div>
    </ng-container>
  </li>
</ul>
