@import "vars/variables";
@import "mixins";

:host {
  width: 100%;
  height: 100%;

  .users-cards {
    @include flex(flex-start, flex-start, var(--offset));
    @include scroll-bar;

    flex-wrap: wrap;

    width: calc(100% - var(--offset-s));
    height: 100%;

    &-item {
      @include flex(center, space-between, var(--offset-s));
      cursor: pointer;

      flex: 1;
      flex-direction: column;

      max-width: 15rem;
      padding-bottom: var(--offset);

      border: $border-input;
      border-radius: var(--border-radius-l);

      &-header {
        @include flex(center, space-between, var(--offset-dl));
        width: 100%;
        padding: var(--offset-xs) var(--offset-xs) 0 var(--offset);

        font: var(--font-buttonSmall);

        &-percentage {
          font: var(--font-buttonSmall);
          color: var(--primary);
        }

        &-buttons {
          @include flex(flex-start, space-between, var(--offset-xs));

          visibility: hidden;
        }
      }

      &-info {
        @include flex(center, flex-start);
        flex-direction: column;

        width: 100%;
        padding: 0 var(--offset);

        &-avatar {
          @include profile-photo(5rem, 5rem);
        }

        &-location {
          font: var(--font-buttonMiddle);
          color: var(--gray2);
        }

        &-name {
          font: var(--font-main);
          color: var(--black);
          text-align: center;
        }

        &-position {
          font: var(--font-main);
          font-weight: 300;
          color: var(--gray2);
          text-align: center;
        }
      }

      &-footer {
        width: 100%;
        padding: 0 var(--offset);

        &-text {
          @include flex(flex-start, flex-end);
          width: 100%;

          font: var(--font-buttonSmall);
          font-weight: 300;
          color: var(--gray2);
          text-align: right;
        }

        &-bar {
          width: 100%;
          height: 0.5rem;

          background-color: var(--gray5);
          border: none;
          border-radius: var(--border-radius-xxl);

          &-progress {
            width: 0;
            height: 100%;

            background-color: var(--primary);
            border: none;
            border-radius: var(--border-radius-xxl);
          }
        }
      }

      &:hover {
        box-shadow: $border-input-select;

        .users-cards-item-header-buttons {
          visibility: visible;
        }
      }
    }
  }
}
