<article class="vacations-list-item">
  <div class="vacations-list-item-circle"></div>
  <div class="vacations-list-item-wrapper">
    <div class="vacations-list-item-wrapper-info">
      <p class="vacations-list-item-wrapper-info-day">
        {{ vacation.vacationDay | date: "MMM d" }}
      </p>
      <p class="vacations-list-item-wrapper-info-employee">
        {{ vacation.fullName }}
      </p>
    </div>
    <img src="{{ vacation.photo }}" class="vacations-list-item-wrapper-photo" />
  </div>
</article>
