@import "mixins";
@import "vars/variables";

:host {
  $width-scroll: var(--offset-s);
  $height-header: 4rem;
  $gap: var(--offset-m);
  $gap-scroll: calc(var(--offset-l) / 2 - #{$width-scroll} / 2);
  overflow: scroll;
  display: block;

  width: 100%;
  max-width: 100%;
  max-height: 40rem;

  .taskTracks {
    @include flex(flex-start, flex-start, var(--offset-s));
    flex-direction: column;

    width: 100%;
    margin-bottom: var(--offset-m);

    &-date {
      color: var(--gray2);
    }
  }

  .task {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 var(--offset) 0;

    background-color: var(--white);

    &-time-and-overtime {
      @include flex(flex-start, flex-start, var(--offset-xs));
      flex-direction: column;
    }
  }

  .task-top {
    display: grid;
    grid-template-columns: 2rem 10rem 1fr;

    width: 100%;
  }

  .time {
    font: var(--font-blocks);
    font-weight: 700;
  }

  .overtime {
    @include flex(flex-start, flex-start, var(--offset-xs));

    &-duration {
      font: var(--font-blocks);
      font-weight: 700;
      color: var(--orange);
    }
  }

  .description {
    font: var(--font-blocks);
    word-wrap: break-word;
  }

  .buttons {
    @include flex(flex-end, flex-end);
    height: 1.125rem;
    margin-top: var(--offset);
  }

  .icons {
    user-select: none;

    display: none;

    color: var(--gray);

    &:last-of-type {
      margin-left: var(--offset-s);
    }
  }

  .icons:hover {
    cursor: pointer;

    color: var(--primary);

    transition: 0.2s;
  }

  .task:hover {
    cursor: pointer;

    box-shadow: 0 0 0.4rem var(--box-shadow-color);

    .icons {
      display: block;
    }
  }
}
